@charset "UTF-8";
/* -COLORS.SCSS */



/* COLORI OLD */

$grigiosfondo:#f8f8f8;
$grigioscuro:#333;
$nero:#333333;
$grigiotesto:$nero;
$grigiocategorie:$nero;
$blu:#272D3D;

/* COLORI PAOLAC */
$crema:#e4d2c4;
$azzurro:$crema;//#b1bbc5;
$bianco:#fafafa;
$biancopuro:#fff;
$nero:#000000;
$nerochiaro:#333;
$grigio:#b2b2b2;
$grigiochiaro:#e1e1e1;
$grigioscuro:#898989;
$rame: $crema;




$main_text:$nero;
$main_bk:$bianco;
$sfondo:$bianco;
$testo:$nero;
$testo2:$nero;
$link:$nero;
$link_hover:$grigio;
$titolo1:$nero;
$titolo2:$nero;
$sfondo_home: #fffaf4;

$sfondo_nav:$bianco;
$color_nav:$grigio;
$ombra_nav:$grigio;
$bottone_bk:$bianco;
$bottone_color:$grigio;
