/* FOOTER */

#footer {
	color: $nerochiaro;
	letter-spacing: 0.03em;
	word-spacing: 0.1em;
	padding-top: 30px;
	font-size: 13px;
	font-weight: 400;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fafafa;
	position: relative;
	z-index: 9999;
    

	@include mq($from:tablet){ 
		padding-top: 50px;
		font-size: 14px;

		&::before {
		    content: " ";
		    width: calc(100vw - 110px);
		    height: 1px;
		    background-color: black;
		    display: block;
		    position: relative;
		    left: 50%;
		    transform: translateX(-50%);
		}
	}
	
	//border-bottom: 4px solid $azzurro;
	@include mq($from:tablet){ border-bottom: 8px solid $azzurro;}
	@include mq($from:desktop){ border-bottom:11px solid $azzurro;}
	@include mq($from:wide){ border-bottom:15px solid $azzurro;}
	
	.wrap {
		border-top: 1px solid $nerochiaro;
		padding-top: 30px;
		padding-bottom: 40px;

		@include mq($from:tablet){ 
			border-top: 0;
			padding-top: 50px;
			padding-bottom: 60px; 
			max-width: 1170px;
		}
	}

	.footer_box {
		padding-bottom: 25px;

		h4 {
			padding-bottom: 7px;
		}

		@include mq($from:500px){
			width: 33.33333%;
			padding-bottom: 35px;
			float: left;
		}
		@include mq($from:desktop){
			width: 16.66666%;
		}
	}

	.footer_box.box_ampio{
		@include mq($from:500px){
			width:66.66666%;
		}
		@include mq($from:desktop){
			width: 25%;
			margin-left: 8.33333%;
		}
	}

	a { 
		color: $nerochiaro;
		svg { 
			height: 40px;
			fill:$grigio;
			@include transition();
		}
	}

	a.icon_social {
		float: left;
	}
	a:hover { 
		color: $grigio;
		svg { fill:$nerochiaro;}
	}
}

.homepage #footer {
	background-color: $sfondo_home;
}

#footer.fixed {
	@include mq($from:tablet){
		position:absolute;
		width: 100%;
		bottom: 0;
	}
}

.rame #footer {
    //border-bottom: 4px solid $rame;
    @include mq($from:tablet){ border-bottom: 8px solid $rame;}
    @include mq($from:desktop){ border-bottom:11px solid $rame;}
    @include mq($from:wide){ border-bottom:15px solid $rame;}
}


.credits {
	font-size: 12px;
	clear: both;
	position: relative;
	line-height: 1.6em;
	padding-right: 100px;

	@media (max-width: 768px) {
		padding-right: 0;
	}

	a.logo_paypal {
		text-align: center;
    	padding-top: 10px;
    	display: block;

		svg { 
			height: 30px;
		}

		@include mq($from:tablet){ 
			position: absolute;
			right: 0;
			padding-top: 0;
			top: -10px;
		}
		@include mq($from:desktop){ 
			right: 0;
		}
	}

}



footer#footer .wrap {
	@include mq($to: tablet){
		display: flex;
		flex-wrap: wrap;

		.due-colonne {
			width: 50%;
		}

		.paypal-mobile {
			text-align: right;
		}

		.logo_paypal {
			display: block;
    		margin-top: 1em;
		}

		.box_ampio_mobile {
			width: 100%;
		}
	}

}

/*** RE-CAPTCHA 3 ***/
.grecaptcha-badge {
    opacity: 0 !important;
    visibility: hidden;
}
