/* FORM */
/*	FORM  */	

.form {
	@include mq($from: desktop){
		display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
	}
}

.form-group {
	position:relative;  
	margin-bottom: 30px;
	width: 100%;

	@include mq($from: desktop){
		width: calc(50% - 15px);

		&.full-width {
			width: 100%;
		}
	}	
}

.form-label {
	position: absolute;
	left: 0;
	top: 10px;
	color: #999;
	background-color: #fff;
	cursor: text;
	z-index: 10;
	transition: transform 150ms ease-in-out, font-size 150ms ease-in-out;
}

.focused .form-label {
	transform: translateY(-125%);
	font-size: .75em;
}


.form-group textarea {
	height: 5em;
	max-height: 200px;
	min-height: 36px;
	min-width: 100%;
	max-width: 100%;
}

.form-input.filled {
	//box-shadow: 0 2px 0 0 lightgreen;
	@include transition;

	&.error {
		box-shadow: 0 2px 0 0 red;
		@include transition;
	}
}


// success message

.sa {
	width: 100%;
	height: 140px;
	padding: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	display: none;
	@include transition;

	&.active {
	    margin-top: 100px;
	    @include transition;
		position: relative;
	}

	.sa-success-title { 
		opacity: 0;
		@include transition;
		font-size: 1.1rem;
	    font-weight: 500;
	    color: rgba(102, 102, 102, 0.5);
	}

	&.active .sa-success-title {
		opacity: 1;
		@include transition;
		display: inline-block;
		margin-top: 20px !important;
	}

	.active &-success {
		border-radius: 50%;
		border: 4px solid #A5DC86;
		box-sizing: content-box;
		height: 80px;
		padding: 0;
		position: relative;
		background-color: #fff;
		width: 80px;
		margin: 0 auto;

		&:after, &:before {
			background: #fff;
			content: '';
			height: 120px;
			position: absolute;
			transform: rotate(45deg);
			width: 60px;
		}
		&:before {
			border-radius: 40px 0 0 40px;
			width: 26px;
			height: 80px;
			top: -17px;
			left: 5px;
			transform-origin: 60px 60px;
			transform: rotate(-45deg);
		}
		&:after {
			border-radius: 0 120px 120px 0;
			left: 30px;
			top: -11px;
			transform-origin: 0 60px;
			transform: rotate(-45deg);
			animation: rotatePlaceholder 4.25s ease-in;
		}
		&-placeholder {
			border-radius: 50%;
			border: 4px solid rgba(165, 220, 134, 0.25);
			box-sizing: content-box;
			height: 80px;
			left: -4px;
			position: absolute;
			top: -4px;
			width: 80px;
			z-index: 2;
		}
		&-fix {
			background-color: #fff;
			height: 90px;
			left: 28px;
			position: absolute;
			top: 8px;
			transform: rotate(-45deg);
			width: 5px;
			z-index: 1;
		}
		&-tip, &-long {
			background-color: #A5DC86;
			border-radius: 2px;
			height: 5px;
			position: absolute;
			z-index: 2;
		}
		&-tip {
			left: 14px;
			top: 46px;
			transform: rotate(45deg);
			width: 25px;
			animation: animateSuccessTip .75s;
		}
		&-long {
			right: 8px;
			top: 38px;
			transform: rotate(-45deg);
			width: 47px;
			animation: animateSuccessLong .75s;
		}
	}
}
@keyframes animateSuccessTip {
	0%, 54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}
@keyframes animateSuccessLong {
	0%, 65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}
@keyframes rotatePlaceholder {
	0%, 5% {
		transform: rotate(-45deg);
	}
	100%, 12% {
		transform: rotate(-405deg);
	}
}




/* NEWSLETTER */

/* NEWSLETTER.SCSS */

#newsletter_form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;

	.field-group {
		width: 100%;

		@include mq($from: desktop){
			width: 45%;
		}
	}


	.newsletter-text {
		text-align: center;

		span.newsletter-title {
		    display: block;
		    @include brewery;
		    text-transform: uppercase;
		    font-size: 20px;
		    text-align: left;
		}
		
		span.newsletter-subtitle {
		    font-size: 10px;
		    line-height: 1.3em;
		    text-align: left;
		    display: block;
		    margin-top: 2em;
		    color: #3a3a3a;

		    p {
		    	padding: 0;
		    }
		}
	}

	input#email {
	    width: 84%;
        @include trade;
        font-size: .55rem;
        line-height: 1.8em;
        color: $nero;
        background-color: $bianco;
	}



	input#email::placeholder {
    	color: black;
    	opacity: 1;
    	@include transition;
    }

    input#email:focus {
    	&::placeholder {
	    	opacity: 1;
	    	@include transition;
	    }
    }


    /*
    .check-newsletter {
	    float: left;
	}

	.label-check-newsletter {
	    width: calc(100% - 15px);
	    float: left;
	    padding-left: 15px;
	    font-size: .8rem;
    	line-height: 1.2em;

    	@include mq($from: tablet){
    		font-size: .6rem;
    	}

	    &:first-of-type {
	    	margin-bottom: 25px;
	    }
	}	
	*/
}



#newsletter-popup {
	.field-group {
		width: 100%;
	}

	.field-submit {
		margin-top: 0px;
		width: 20%;
	}
}




.field-group.title-group {
    width: 100% !important;
    margin-bottom: 30px;

    .newsletter-text {
        max-width: 600px;
        margin: 0 auto;
    }
}



.overlay-bg {
    
    //display: none;
    position: fixed;
    height: auto;
    background-color: #e8e6da;
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
    max-height: 80vh;
    width: 90%;
    top: 50%;
	left: 50%;
	display: flex;
	flex-wrap: wrap;
	visibility: hidden;
	opacity: 0;
	transform: translateY(150%);

    @include mq($from: tablet){
    	max-width: 500px;
    	width: 80%;
    	z-index: 9999999999;
    	max-width: 500px;
    	bottom: 5%;
    	right: 5%;
    	left: unset;
    	top: unset;
    	align-items: stretch;
    }
}

#newsletter-popup.attivo {
	display: flex;
	visibility: visible;
	opacity: 1;
	transform: translateY(-50%) translateX(-50%);
	@include transition;

	@include mq($from: tablet){
		transform: translateY(0%);
	}
}

.close-overlay {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    background-image: url('../img/close-icon_black.png');
    background-position: center;
    background-size: 42%;
    background-repeat: no-repeat;
    @include transition;
    cursor: pointer;

    &:hover {
        transform: rotate(90deg);
        @include transition;
    }
}


.overlay-background {
	display: none;

    @include mq($from: tablet){
    	display: block;
	    width: 43%;
	    padding-top: 0;
	    height: auto;
	}
}


.overlay-box {
    position: relative;
    z-index: 999999;
    padding: 30px 20px 20px 20px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default !important;
    color: $nero;
    overflow: hidden;

    @include mq($from: tablet){
    	width: 57%;
    }

    .credit-item {
        width: 100%;
        margin-top: 40px;
        text-align: center;

        &:first-of-type {
            margin: 0;
        }
    }

    .credit-item .testo-piccolo {
        display: block;
        text-align: center;
        color: $bianco;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .credit-item a {
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }
}


/*
.form-group.checkbox {
    width: 100%;
    display: flex;

    label.check-newsletter {
        margin-right: 15px;
    }

    .label-check-newsletter {
        line-height: 15px;
    }
}
*/

.email-group {
    //display: flex;
}

.email-group input#email {
	width: 84%;
	float: left;
	height: 30px;
	margin: 0;
	line-height: 30px;
	text-indent: 15px;
	color: $nero;
	border: 0;
	background: rgba(255,255,255,1);
	float: left;
	border-radius:0 !important;
	@include trade;
    font-size: .55rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding-top: 4px;

	&:focus {
		background:rgba(255,255,255,0.95);
	}
}

.email-group input[type="submit"] {
	width: 16%;
	float: left;
	height: 30px;
	line-height: 30px;
	color: $nero;
	border: 0;
	background: $nero;
	text-indent: -99999px;
	float: left;
	background-image:url('../img/freccia_dx_bianca.png');
	background-repeat: no-repeat;
	background-position: center center; 
	background-size:65%; 
	border-radius:0 !important;

	&:hover {
		background:$azzurro;
		background-image:url('../img/freccia_dx_bianca.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size:65%;
	}
}


#newsletter_form .field-checkbox {
	margin-top: 2em;
}

#newsletter_form .label-check-newsletter {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1.3em;
    font-size: 8px;
    color: $nerochiaro;
    opacity: .6;
}


input[type="checkbox"] {
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    border: 1px solid $bianco;
}

input[type="checkbox"]:checked {
    background-image: url('http://lagalette.tonetmarco.it/wp-content/themes/wk_lagalette/img/cross_pointer_2_bianco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

	
body.overlay.notouch {
	cursor: url('http://lagalette.tonetmarco.it/wp-content/themes/wk_lagalette/img/cross_pointer_2.png'), auto;

	.overlay-giallo {
		cursor: default !important;
	}
}