/* HEADER */


/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */

/* STILE DEL MENU DI APERTURA DEL MENU */
.hamburger {
  position:fixed;
  z-index:99999;
  top:0;
  width:48px;
  height:48px;
  padding-top:12px;
  box-sizing:border-box;
}

.hamburger .line{
  width: 21px;
  height: 1px;
  display: block;
  background-color: $nero;
  margin: 5px auto;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0px) rotate(0deg);
}

.homepage .hamburger .line {
	background-color: $bianco;
}

.homepage.wk-attivo .hamburger .line {
	  background-color: $nero;
}

.homepage .hamburger.is-active .line {
	background-color: $nero;
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger.is-active .line {
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#hamburger-menu.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-menu.is-active .line:nth-child(1){
  transform: translateY(6px) rotate(45deg);
}

#hamburger-menu.is-active .line:nth-child(3){
  transform: translateY(-6px) rotate(-45deg);
}

body.nav-open {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

body.nav-open a.mobile-menu {
	color:$bianco;
	
	span {
		background-color: rgba(0,0,0,0.0);
		transition-delay: .2s;
	}
	span:before {
		background-color:$bianco;
	margin-top: 0;
	height:1px;
	transform: rotate(22.5deg) skewX(22.5deg);
	transition-delay: 0, .2s;
	}

	span:after {
		background-color:$bianco;
	margin-top: 0;
	height:1px;
	transform: rotate(-22.5deg) skewX(-22.5deg);
	transition-delay: 0, .2s;
	}
	
	
}

nav.onlymobile{
	background:rgba($azzurro, .95);
	width: $mobile-nav-width; 
	height: 100%;
	position: fixed;
	top: -100%; 
	left:0;
	z-index: 999;
	@include transition(all, $animation-time, $animation-function);
	
	
	.nav_wrapper {
		position:relative;
		width:100%;
		height:100%;
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
		}
	
	ul {
		padding-top: 48px;
		& > li {
			
			a  {
				@include brewery;
				height: 40px;
				line-height: 48px;
				color: $nero;
				outline: none;
				font-size: 1.7rem;
				letter-spacing: 0.08em;
				padding: 0;
				text-shadow: 0 0 0 transparent;
				border-bottom: 0px;
				text-align: left;
				font-weight: 400;
				text-transform: uppercase;
				width: auto;
				display: inline-block;
			}
			
			
		} /* LI */
		
		
		
		/* ATTIVO VOCI */
		
		li.current-menu-item a, 
		li.current-page-item a,
		li.current-menu-parent a {
			border-bottom: 1px solid $nero;
		}
		
	} /* UL */
	
}


.nav-open nav.onlymobile {
	top: 0;
	@include transition(all, $animation-time, $animation-function);
}

.big-home-buttom:hover {
	cursor: pointer;
}

#header {
	height: 48px;
	width: 100%;
	position: fixed;
	z-index: 99999;
	top: 0;
	//background: rgba($grigiosfondo, 0.99);

	@include mq($from:tablet) {

		height:auto;
		position: relative;
		background: none !important;
		border: 0;
		left: 0;
	}
}


#header .wrap {
	width: 100%;
	height:auto;
	position: relative;
	padding-bottom: 7px;
	border: 0;
	left: 0;
	max-width: none;
	text-align:center;

	@include mq($from:tablet) {
    	z-index: initial;
		top:0;
		position: fixed;
		padding-bottom: 0;
		@include transition;
	}
}

.wk-attivo #header .wrap {
	@include mq($from:tablet){
		position: fixed;
		width: 100%;
		left: 0;
		background: $bianco;
		@include transition;
		//top: -107px;
	}
}


.content {
	position: relative;
}



.titolo_sito {
	display: inline-block;
	text-align: center;
	opacity: 1;
	cursor: pointer;
	width: 40%;
	left:50%;
	margin-left:-20%;
	position: absolute;
	z-index: 999;

	svg {
		height: 20px;
		margin-top: 14px;
	}

	@include mq($from:tablet){
		width: initial;
		left: initial;
		margin-left: initial;
		position: relative;
		padding-top: 50px;
		svg { 
			height: 40px;
			* {
				transition: fill .4s;
			}
		}
	}
}


.link_left, .link_right {
	position: fixed;
	left: 5px;
	top: 16px;
	@include mq($from:tablet){ left: 20px;}
	@include mq($from:desktop){ top:30px; left:40px;}
	@include mq($from:wide){ top:35px;}


	li {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
		position: relative;
		@include mq($from:tablet){
			padding-left: 15px;
			padding-right: 15px;
		}
		

		a {
			font-size: 12px;
			color: $nerochiaro;
			height: 15px;
			text-transform: uppercase;
			display: block;
			line-height: 15px;
			cursor: pointer;

			svg {
				height: 100%;
				fill:$nerochiaro !important;
				transition: fill .4s;
				float: left;
				margin-right: 7px;
			}
		}
	}

	li:nth-child(2)::before {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		top: 30%;
		width: 1px;
		height: 40%;
		background-color: $nero;
	}
}

.link_right {
	left:initial;
	right:40px;
	@include mq($from:tablet){ right: 20px;}
	@include mq($from:desktop){ right:40px;}
}


/* MENU DESKTOP */

nav.nomobile {
	text-align: center;
}

#wk_sticky ul.menu {
	text-align: center;
	margin-top: 30px;
	display: inline-block;

	@include mq($from:desktop){
		margin-top: 20px;
		padding-top: 3px;
	}

	li {
		display: inline-block;
		position: relative;
		float: left;

		a {
			font-size: 12px;
			color: $nerochiaro;
			letter-spacing: 0.1em;
			word-spacing: 0.3em;
			text-transform: uppercase;
			padding-bottom: 7px;
			padding-left: 4px;
			padding-right: 4px;
			margin-left:25px;
			margin-right: 25px; 
			position:relative;

			@include mq($from:desktop){
				font-size: 13px;
			}

			&:after {
				content:" ";
				display:block;
				position:absolute;
				left:0;
				bottom: -3px;
				height:1px;
				width:0px;
				background:$nerochiaro;
				@include transition();
			}
		}

	}

	& > li:first-child a {
		margin-left: 0;
	}
	& > li:last-child a {
		margin-right: 0;
	}


	/* ATTIVO VOCI */
		
	li.current-menu-item a, li.current-page-item a,  li.current-menu-parent > a {
		&:after {
			width:100%;
			background:$nerochiaro;
			@include transition();
		}

		ul.sub-menu { opacity: 1;}
	}


	li a:hover {
		color:$grigio;
		&:after {
			width:100%;
			background:$grigio;
			@include transition();
		}
	}

}

#wk_sticky ul.sub-menu {
	display: block;
	position: absolute;
	text-align: left;
	padding: 0px;
	padding-left: 0px;
	padding-top: 0px;
	height: 0;
	top:10px;
	width: 100%;
	opacity: 0;
	overflow: hidden;
	transition: opacity .4s, height .4s;

	li {
		width: 10px;
		overflow-x:visible;
		float: none;
		display: block;
	}


	a {
		font-size: 12px;
		text-transform: none;
	}
}

.notouch #wk_sticky ul.menu li.menu-item-has-children:hover > .sub-menu { 
	height: 65px; 
	opacity: 1; 
	transition: opacity .4s, 
	height .4s;

	a {
		padding-left: 0px;
		padding-right: 0px;
		margin-left:29px;
		margin-right: 29px; 
	}
}


.carello-mobile {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 8px;
	left: 10px;

	svg * {
		fill:$azzurro;
	}
}








////////////////////////////////////////////////////////////////////////////////////////

/*** RESTYLE2020 ***/



/*** BORDO SOPRA ***/

body.caricato .bordo-sopra {
	height: 25px !important;
	position: fixed !important;
}

body .bordo-sopra .link_left {
    position: absolute;
    height: 100%;
    top: 0;
    left: 20px;
    display: inline-block;
    line-height: 25px;
    padding-left: 15px;

    @include mq($from: desktop){
    	left: 40px;
    }

    .btn {
    	color: $nero;
    	font-size: 10px;
		line-height: 25px;
		height: 100%;
		
    	@include mq($from: desktop){
    		font-size: 11px;
    		opacity: 1;
    		@include transition;
    	}
    }

    .btn svg {
    	height: 19px;
    	margin-top: 3px;
    }
}

.notouch .bordo-sopra .link_left .btn:hover {
	opacity: .5;
	@include transition;
}

body .bordo-sopra .link_right {
    position: absolute;
    height: 100%;
    top: 0;

    li {
    	height: 100%;
    	opacity: 1;
		@include transition;
    }
    
    li a {
    	font-size: 10px;
		line-height: 25px;
	    height: 100%;
		display: block;

    	@include mq($from: desktop){
    		font-size: 11px;
    		line-height: 25px;
    	}
    }

    li a svg {
    	height: 19px;
    	position: absolute;
    	top: 3px;
    	left: -10px;
    }
}

.notouch .bordo-sopra .link_right li:hover {
	opacity: .5;
	@include transition;

	a {
		opacity: 1;
	}
}




/*** NAV WIDE ***/

nav#wk_sticky {
	@include mq($from: tablet){
		display: flex !important;
	}
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 90px;
    position: relative;
    @include transition;

    ul#menu_wide_left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;
        margin-right: 15px;

        @include mq($from: desktop){
        	margin-right: 50px;
        }
    }

    a.titolo_sito {
        padding: 0;
        margin: 0;
        display: block;

        svg {
        	margin: 0;
			margin-top: 5px;
        	height: auto;
        	width: 10vw;
        	max-height: 50px;
        	@include transition;
        	//transition: fill 0s;
        }

        svg #payoff {
        	@include transition;
        	transition: fill 0s;
        }
    }

    ul#menu_wide_right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        margin-left: 15px;

        @include mq($from: desktop){
        	margin-left: 50px;
        }
    }

    ul.menu {
    	margin-top: 0;
    	padding-top: 0;
    }

    ul .menu-item {
	    padding: 0px;
	    margin: 0 10px;

	    @include mq($from: desktop){
    		margin: 0 15px;
    		padding: 0 15px;
    	}
    }

    ul .menu-item a {
    	display: block;
    	padding-bottom: 0;
    	margin: 0;
    	padding: 0;
    	font-size: 10px;
    	line-height: 1em;

    	@include mq($from: desktop){
    		font-size: 12px;
    	}
    }


    ul.sub-menu {
    	top: 100%;
    }

    ul.sub-menu li {
		margin: 5px 0;
		padding: 0;
		width: 100%;
		overflow: visible;
	}
}


nav#wk_sticky {

	.link_left, .link_right {
		//height: 100%;
		position: absolute;
    	top: 50%;
    	transform: translateY(-50%);

		a {
			line-height: 15px;
		}
	}
}


li.menu-item-logo .titolo_sito {
    display: block;
    padding: 0;
    margin: 0;
}


body.wk-attivo {

	nav#wk_sticky {
		height: 60px;
		@include transition;
	}

	.titolo_sito svg {
		
		height: 35px !important;
		@include transition;
		//transition: fill 0s;

		@include mq($from: tablet){
			transform: translateY(27%);
		}

		#payoff {
			opacity: 0;
			@include transition;
			transition: fill 0s;
		} 	
	}
}


header .wrap * {
	color: $nero !important;
	fill: $nero  !important;
	@include transition;
	//transition: fill 0s !important;
}

.white header .wrap * {
	color: $bianco  !important;
	fill: $bianco  !important;
	@include transition;
	//transition: fill 0s !important;
}

.white.wk-attivo header .wrap * {
	color: $nero !important;
	fill: $nero  !important;
	@include transition;
	//transition: fill 0s !important;
}

.white.nav-open header .wrap nav.onlymobile * {
	color: $nero !important;
	fill: $nero  !important;
}

// SUB MENU

.notouch #wk_sticky ul.menu li.menu-item-has-children:hover>.sub-menu {
    height: auto;
    display: block;
    position: absolute;
   
    padding: 10px 15px;
    width: auto;
    top: 0px;
    left: 0;

    li {
    	margin: 10px 0 5px;
    }
    li a {
    	margin: 0;
    }
}

.notouc.wk_attivo #wk_sticky ul.menu li.menu-item-has-children:hover>.sub-menu {
    background-color: #f8f8f8;
    top: 15px;
    left: 0;

    li {
    	margin: 10px 0 5px;
    	color: $nero;
    }
}

/*** END RESTYLE2020 ***/



////////////////////////////////////////////////////////////////////////////////////////


.titolo_sito.onlymobile svg {
    height: 30px;
    margin-top: 14px;
}


nav.onlymobile a.search_button {

	@include mq($to: tablet){
		height: 20px;
		line-height: 20px;
		display: flex;
		justify-content: center;
		margin-top: 50px;	

		svg {
			height: 20px;
		    margin-right: 10px;
		}
	}
}

nav.onlymobile {
	ul.secondary-menu {
	    padding: 0 !important;
	    margin-top: 10px;
	    display: flex;
	    justify-content: center;
	}

	ul.secondary-menu li .selettore_lingua {
		line-height: 30px;
	}

	ul.secondary-menu li svg {
		height: 25px;
		margin-right: 0px;
	}
}



// NUOVO SEARCH 


.search-form {
    position: absolute;
    top: -5px;
    left: 50px;
    width: 0px;
    overflow: hidden;

    input {
    	-webkit-appearance: none !important;
    	background: none !important;
    	font-size: 14px;
    	color: $nerochiaro;
    	border:0 !important;
    	border-bottom: 1px solid $nerochiaro !important;
    	width: 150px;
    	float: left;
    	height: 20px;
    	border-radius: 0 !important;

    	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	    color: $nerochiaro !important;
    	    opacity:  0.7;
    	    font-style: italic;
    	}
    	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    	   color: $nerochiaro !important;
    	   opacity:  0.7;
    	   font-style: italic;
    	}
    	&::-moz-placeholder { /* Mozilla Firefox 19+ */
    	   color: $nerochiaro;
    	   opacity:  0.7;
    	   font-style: italic;
    	}
    	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
    	   color: $nerochiaro !important;
    	   opacity:  0.7;
    	   font-style: italic;
    	}
    	&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    	  color: $nerochiaro !important;
    	  opacity:  0.7;
    	  font-style: italic;
    	}
    	&:-webkit-autofill {
    		color: $bianco !important;
    		-webkit-text-fill-color: $nerochiaro !important;
    		background-color: rgba(255,255,255,0) !important;
    		-webkit-box-shadow: 0 0 0px 1000px #dfb0b1 inset;
    	}

    }

    input[type="submit"] {
    	-webkit-appearance: none !important;
    	    border-top: 1px solid #333 !important;
		    border-bottom: 1px solid #333 !important;
		    height: 23px;
		    text-transform: uppercase;
		    font-size: 12px;
		    word-spacing: 0.05em;
		    font-weight: 100;
		    padding-right: 20px;
		    padding-left: 20px;
		    margin-left: 20px;
		    width: initial;
		    position: relative;
		    float: left;
		    border-radius: 0 !important;


    	&:hover {
    		color:$azzurro;
    	    border-top: 1px solid $azzurro !important;
		    border-bottom: 1px solid $azzurro !important;
    	}
    }
	
	#mdiv
	{

	    display: block;
	    width: 20px;
	    height: 20px;
	    background: $bianco;
	    position: absolute;
	    left: -40px;
    	top: 5px;

    	&:hover {
    		cursor:pointer;
    	}
	}
	.mdiv
	{
	height:15px;
	width:1px;
	margin-left:12px;
	background-color:$nerochiaro;
	transition: transform .4s;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	Z-index:1;

	}
	.md
	{
	height:15px;
	width:1px;

	background-color:$nerochiaro;
	transition: transform .4s;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	Z-index:2;

	}

	#mdiv:hover .mdiv {
		transform:rotate(135deg);
	}
}

.search-form.attivo {

	width:255px;
	overflow: visible;
}

.search-form.single_page {
	position: relative;
	width: initial;
	top: 0;
	left: 0;
	overflow:auto;
	margin-left: 50px;

	input[type="submit"] {
		margin-left: 0;
		height: 48px;
	}
}

/* Buttons */

.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--search {
	font-size: 12px;
	color: $nerochiaro;
	height: 17px;
	text-transform: uppercase;
	display: block;
	line-height: 15px;
	cursor: pointer;

	svg{
		height: 100%;
		fill: $nerochiaro !important;
		transition: fill .4s;
		float: left;
		margin-right: 7px;
	}
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}


/* Reset Search Input */

.search__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus {
	outline: none;
}


/* Links */


.btn {
	text-decoration: none;
	color: $azzurro;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}




.demo-5 a, .demo-5 .btn { color: $nero; }

/* Layout for search container */
.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.search {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.search::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba($azzurro,0.8);
}

.rame .search::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba($rame,0.8);
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.btn--search-close {
	display: block;
}

.search__form {
	margin: 5em 0;
}

.search__input {
	@include brewery;
	font-size: 10vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 75%;
	padding: 0.05em 0;
	color: $nero;
	border-bottom: 1px solid;
	border-radius:0 !important;
	-webkit-appearance: none !important;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: $nerochiaro;
	opacity:0;
	transition:all .1s ease;
}

.search__input::-moz-placeholder {
	opacity: 0;
	/* Mozilla Firefox 19+ */
	color: $nerochiaro;
	transition:all .1s ease;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $nerochiaro;
	opacity: 0;
	transition:all .1s ease;

}


.search--open .search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: $nerochiaro;
	opacity: 1;
	transition:all .5s ease;
	transition-delay:.5s;
}

.search--open .search__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: $nerochiaro;
	opacity: 1;
	transition:all .5s ease;
	transition-delay:.5s;
}

.search--open .search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $nerochiaro;
	opacity: 1;
	transition:all .5s ease;
	transition-delay:.5s;
}



.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

.search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 0.85em 0;
	text-align: right;
	color: $nero;
}

/************************/
/* Transitions 			*/
/************************/

 #container {
	opacity:1;
	transition: all 0.5s ease;

}

#container.main-wrap--move,
 {
	opacity:0.1;
	transform: scale3d(0.7,0.7,1);
	transition: all 0.5s ease;
}




.main-wrap--move .btn--search {
	pointer-events: none;
	opacity: 0;
}

.search {
	pointer-events: none;
}

.search--open {
	pointer-events: auto;
}

.search::before {
	opacity: 0;
	transition: opacity 0.5s;
}

.search--open::before {
	opacity: 1;
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transition: opacity 0.5s;
	top:30px;
	left:90px;

	svg {
		fill:$nero;
	}

	@include mq($to:tablet){
		left:30px;
		right:inherit;
	}
}

.search--open .btn--search-close {
	opacity: 1;
}

/* Search form with input and description */

.search__info {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
	transition: opacity 0.4s, transform 0.4s;
}

.search--open .search__info {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.search__input {
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.3s;
}

.search--open .search__input {
	transform: scale3d(1,1,1);
	transition-duration: 0.5s;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
}






/***** CARRELLO MOBILE *****/

nav.onlymobile a.search_button.onlymobile {
    position: fixed;
    top: 0;
    right: 10px;
    width: 40px;
    padding: 0px;
    height: 48px !important;
    margin: 0;
    font-size: .8em;
    align-items: center;
    justify-content: center;
}


/****** MENU BOTTOM MOBILE *****/

nav.onlymobile ul.bottom_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 20px !important;

    a {
    	@include lato;
    	font-weight: 300;
    	font-size: 12px;
    	height: 20px;
    	display: inline-block;
    	line-height: 20px;

    }

    .where-to-by svg {
    	height: 1em;
	    position: relative;
	    top: 1px;
    }


    ul#lingue_mobile {
        padding: 0 !important;
        display: flex;

        li:first-of-type {
        	padding-right: 10px;
        }

        li:last-of-type {
        	padding-left: 10px;
        	position: relative;
        	
        	&::before {
        		content: " ";
        		display: block;
        		height: 12px;
        		width: 1px;
        		background-color: black;
        		position: absolute;
        		left: 0;
        		top: calc(50% - 6px);
        	}
        }

        li .active {
        	font-weight: 600;
        }
    }

}
