/* HOMEPAGE */

/*
body.homepage {
	margin-top: 61vw;
	@include mq($to:tablet, $and: '(orientation: landscape)'){ margin-top:100vh; }
	@include mq($from:tablet, $and: '(orientation: landscape)'){ margin-top:100vh; }
}

body.homepage #overwrap {
	z-index: 1;
	background: $bianco;
	position: relative;
}

*/

#change-background {
	background-color: $sfondo_home;
}


.hero-home {
	width: 100vw;
	height: 61vw;
	position: relative;
	display: none;
	top: 0px;
	margin-top: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 99998;
	/*
	transition: height 1s ease-in-out;
	*/
	margin-top: 0vh;
	transition: margin-top 1s ease-in-out, height 1s ease-out;

	@include mq($to:tablet, $and: '(orientation: landscape)'){
		width:100vw;
		height:100vh;

	}

	@include mq($from:tablet, $and: '(orientation: landscape)'){
		width:100vw;
		height:100vh;
	}
}


.wk_animation .hero-home {
	@include mq($from:tablet){
		/*
		height: 0vh;
		transition: height 1s ease-in-out;
		*/
		margin-top: -50vh;
		height: 50vh;
		transition: margin-top 1s ease-in-out, height 1s ease-out;
	}
}

.hero-home-img {
	width: 100vw;
	height: 61vw;
	position: relative;
	top: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	//transition: height 1s ease-in-out;
	//transition: margin-top 1s ease-in-out, height 1s ease-in-out;

	@include mq($from:tablet){
		width:100%;
		height:100%;
	}
}
.wk_animation .hero-home-img {
	/*
	height: 0;
	transition: height 1s ease-in-out;
	
	margin-top: -100vh;
	transition: margin-top 1s ease-in-out;
	*/
}

/*
#temporary-home {
	transform: scale(1);
	transition: transform 1s ease-in-out;
}

.wk_animation #temporary-home {
	transform: scale(0.7);
	transition: transform 1s ease-in-out;
}
*/

.scroll-home {
	position: absolute;
	left: 50%;
	margin-left: -15px;
	bottom: 0px;
	width: 30px;
	height: 100px;
	//border: 1px solid $bianco;
	cursor: pointer;
	opacity: 0;


	img {
		display: block;
		transform: rotate(90deg);
	}
	/*
	svg {
		height: 100%;
	}*/

	/*&:hover { 
		//background: $azzurro;
		//border: 1px solid $azzurro;
		bottom: 32px;
		opacity: 1;
		transition: opacity .4s, bottom .4s;
	} */
}

.wk_animation .scroll-home {
	opacity: 0;
	transition: opacity .2s;
}


.scroll-home.black {
	border: 1px solid $nero;

	svg * { fill:$nero !important;}

	&:hover { 
		border: 1px solid $azzurro;
		svg * { fill:$bianco !important;}
	}
}




.box-home {
	padding: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background: $grigiochiaro no-repeat center center;
	background-size: cover;
	position: relative;
	text-align: center;

	.box_overlay {
		position: absolute;
		left: 10%;
		top: 10%;
		width: 80%;
		height: 80%;
		background: rgba($bianco, 0.75);
		padding: 16% 10%;
		@include transition();

		@include mq($from: tablet){
			font-size: .8rem;
			line-height: 1.3em;
			padding: 10% 10%;
		}

		@include mq($from: desktop){
			padding: 16% 10%;
		}
	}

	.no_overlay {
		position: absolute;
		left: 13.5%;
		top: 13.5%;
		width: 73%;
		height: 73%;
	}

	h3 {
		font-size: 24px;
		padding: 0;
		text-align: center;

		@include mq($from: tablet){
			font-size: 18px;
		}

		@include mq($from: desktop){
			font-size: 24px;
		}
	}


	a.freccia:hover {
	    background: url('../img/freccia_dx_azzurra.png') no-repeat center center;
	    background-size: contain;
	}
}

/*
.box-home .no_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 73%;
    padding: 20%;
    background-color: #e8e6da;
}
*/

.box-home.boxcorto {
	padding-top: 100%;
	padding-bottom: 0;
	height: auto;

	.no_overlay {
		position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 73%;
	    padding: 20%;
	    background-color: #e8e6da;
	}	

	.box_overlay {
		position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: auto;
	    padding: 26% 10% 10%;
	    background: transparent;//rgba(#e8e6da, 0.6);

	    @include mq($from: tablet){
	    	padding: 20% 10% 10%;
	    }

	    @include mq($from: tablet){
	    	padding: 26% 10% 10%;
	    }
	}
}

.box-home:hover {
	.box_overlay {
		background: rgba($bianco, 0.95);
	}

	&.boxcorto .box_overlay {
		//background: rgba(#e8e6da, 0.8);
		background: transparent;
	}
}

#mc-embedded-subscribe-form input {
	width: 80%;
	float: left;
	height: 30px;
	margin: 0;
	line-height: 30px;
	text-indent: 15px;
	color: $nero;
	border: 0;
	background: rgba(255,255,255,0.9);
	float: left;
	border-radius:0 !important;
	@include trade;
    font-size: .65rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding-top: 4px;

	&:focus {
		background:rgba(255,255,255,0.95);
	}
}

#mc-embedded-subscribe-form input[type=submit] {
	width: 15%;
	float: left;
	height: 30px;
	line-height: 30px;
	color: $nero;
	border: 0;
	background: $nero;
	text-indent: -99999px;
	float: left;
	background-image:url('../img/freccia_dx_bianca.png');
	background-repeat: no-repeat;
	background-position: center center; 
	background-size:65%; 
	border-radius:0 !important;

	&:hover {
		background:$azzurro;
		background-image:url('../img/freccia_dx_bianca.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size:65%;
	}
}
#mce-responses { 
	font-size: 0.8em;
	padding-bottom: 10px;
}
/* EFFETTU PUSH SCROLL */

html, body, .container {
  	height: 100%;
  }

.header {
	@include mq($from:tablet){ height:100%; }
}

.container { background: none;}


.homepage .contenitore-pagina-bottom {
	width: 100%;
	background-color: $sfondo_home;
	position: relative;
}

