/* MAIN */

/* BODY */

* {
	box-sizing:border-box;
}

hr {
}


html {
	overflow-y: scroll;
	overflow-x: hidden;
	background:$sfondo;
}
html.bloccoscroll { overflow-y:hidden; overflow-x: hidden; }

body.bloccoscrollwide { 
	@include mq($from:tablet){
		overflow: hidden;
		overflow-y:hidden; 
		overflow-x: hidden;
	} 
}

html, body {
	@include testoprincipale;
	font-size:13px;
	line-height: 1.5em;
	letter-spacing: 0.03em;
	word-spacing: 0.07em;
	color:$testo;
	font-weight: 400;
	max-width: 100%;
	background: $bianco;
	/*-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;*/
	
	@include mq($from:tablet){font-size:14px;}
	@include mq($from:tablet){font-size:15px;}
	@include mq($from:tablet){font-size:16px;}
}



.grid .grid-sizer {
		width: 100%;
		text-indent: -9999px;
		@include mq(450px) {width: 50%;}
		@include mq($from:tablet){ width:33.333%;}
}

body {
	padding-top: 48px;

	@include mq($from:tablet){
		padding-top:0;
	}


}


body.caricato .bordo-sinistro, body.caricato .bordo-destro, body.caricato .bordo-sopra {
	position: fixed;
	top: 0;
	left: 0;
	background: $azzurro;
	width: 4px;
	height: 100vh;
	z-index: 99997;
	@include mq($from:tablet){width:8px;}
	@include mq($from:desktop){width:11px;}
	@include mq($from:wide){width:15px;}
	@include transition(all, $animation-time, $animation-function);
}


 body.caricato .bordo-sopra {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 8px;
 	@include mq($from:desktop){height:11px;}
 	@include mq($from:wide){height:15px;}
 }

body.caricato.nav-open .bordo-sinistro
 {
	left: -$mobile-nav-width;
}

body.caricato .bordo-destro {
	left: inherit;
	right: 0;
}

body.caricato.nav-open .bordo-destro {
	left: inherit;
	right: $mobile-nav-width;
}

body.caricato.rame {
	.bordo-sinistro, .bordo-destro, .bordo-sopra {
		background: $rame;
	}
}


body.bloccoscroll {
  overflow: hidden;
}



.wrap {
	width:100%;
	margin:0 auto;
	max-width: 1200px;
	position: relative;

	@include mq($from:tablet){
		width: 92%;
	}
}

#container {
	position:relative;
	min-height:100vh;
}

.contenuti-pagina {
	min-height:40vh;
}

.rame #container{
	/*
	@include mq($from:tablet) {
		border-top: 8px solid $rame;
	}
	@include mq($from:desktop){ 
		border-top:11px solid $rame;
	}
	@include mq($from:wide){ 
		border-top:15px solid $rame;
	}
	*/
}


.contenuti-pagina {
	//padding-top: 48px; //5
	//margin-top: -20px; //0
	padding-top: 0;

	@include mq($from:tablet){
		/* padding-top:240px; */
		padding-top: 120px;
	}

	img { max-width: 100%; display: block; margin: 0;}
}

.shop .contenuti-pagina {
	@include mq($to: tablet){
		padding-top: 0;
	}
}


.homepage {
	padding-top: 0;
}

.homepage .contenuti-pagina {
	
		padding-top: 0px;
}

/*
.wk-attivo .contenuti-pagina {
	@include mq($from:tablet){
		margin-top: 172px;
	}
	@include mq($from:desktop){
		margin-top: 165px;
	}
}
*/

/* PAGINE INTERNE --- PAGINE INTERNE --- PAGINE INTERNE */

a, a:hover { outline:none !important; }

	
p {
	padding-bottom: 1em;
}
/* GRIGLIA */

.grid-container{
    width: 100%; 
    max-width: 1200px;      
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
      display: block ;
    clear:both;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */
    padding: 15px; 
}


.col-0{ width: 4.16%; }
.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%;   }
.col-7{ width: 58.33%;   }
.col-8{ width: 66.66%;   }
.col-9{ width: 75%;   }
.col-10{ width: 83.33%;   }
.col-11{ width: 91.66%;   }
.col-12{ width: 100%;   }

@include mq($to:tablet){
	.col-1{ width: 50%; }
	.col-2{ width: 100%; }
	.col-3{ width: 100%;    }
	.col-4{ width: 100%; }
	.col-5{ width: 100%; }
	.col-6{ width: 100%;   }
	.col-7{ width: 100%;   }
	.col-8{ width: 100%;   }
	.col-9{ width: 100%;   }
	.col-10{ width: 100%;   }
	.col-11{ width: 100%;   }
	.col-12{ width: 100%;   }
}

.padding20 {
	padding: 15px;
	padding-left:50px;

	@include mq($from:tablet){ padding-left:100px;} 
}

.padding10 {
	padding-left:30px;

	@include mq($from:tablet){ padding-left:45px;} 
}

.notop {
	padding-top: 0!important;
}
.nobot {
	padding-bottom: 0!important;
}


.widefromtablet {
	@include mq($to:desktop){
		width: 100%;
	}
}

.pagina-storie .col-5, 
.pagina-storie .col-6, 
.pagina-storie .col-4, 
.pagina-about .col-5, 
.pagina-about .col-6, 
.pagina-about .col-4,   {
	@include mq($to:desktop){
		width: 100%;
	}
}


/* LOADER */

#loader {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: white;
	background: $bianco;
	overflow: hidden;
	position: fixed;
	z-index: 9999999999999;
}

#logo_loader {
  width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -50px;
  
  &:after {
    display:block;
    position:absolute;
    top:50px;
    content :" ";
    width:100px;
    height:1px;
    background:$nero;
    
    -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  }
}

@-webkit-keyframes rotating {
  
  0%   {
  -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);}
  49%   {
  -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);}
  51%   {
  -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);}
  100% {
  -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);}
}

@keyframes rotating {
  
  0%   {
  -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);}
  49%   {
  -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);}
  51%   {
  -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);}
  100% {
  -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);}
}



nav.woocommerce-pagination {
	display:block;
	width:100%;
	text-align:center;
	padding-bottom:2em;
	padding-top:2em;
	float:left;
	
	ul {
		display:block;
		margin:0 auto;
		list-style: none;
		
		li {
			display:inline-block;
			list-style: none;

			&:before { display:none!important;}
			&::before { display:none!important;}
			
			a, span {
				display:block;
				color:$azzurro;
				padding:4px;
				padding-left:10px;
				padding-right:10px;
				font-weight: 400;
				@include border-radius(1px);

				img.arrow{
					margin-top: 4px; 
					    display: block;
					    position: relative;
					    top: 2px;
					    right: 0px;
					    transition:right .4s;
				}	
			
			}

			a.prev img.arrow{
					    left: 0px;
					    transition:left .4s;
				}	



			a:hover {
				color:$grigioscuro;
			}	

			a.next:hover {
				img.arrow{
					    right: -5px;
					    transition:right .4s;
				}	

			}

			a.prev:hover {
				img.arrow{
					    left: -5px;
					    transition:left .4s;
				}	

			}	
				
			span {
				font-weight: 600;
				color:$nero;}
			
			}
		
		}


}

.wp_content ul.page-numbers li:before { display: none !important; content: "";}

/*
** Banner cookie
*/
#my-agile-privacy-notification-area #my-agile-privacy-notification-content {
	padding: 40px 20px 20px!important;
}
