@charset "UTF-8";
/* _MEDIAVISIBILITY.SCSS */


.onlymobile {
	display: block;}
.onlytab {
	display: none !important;}
.onlywide {
	display: none !important;}
.nomobile {
	display: none !important;}
.notab {
	display: inherit !important;}
.nowide {
	display: inherit !important;}
	
	
@media screen and (min-width:768px) {
	

.onlymobile {
	display: none !important;}
.onlytab {
	display: inherit !important;}
.onlywide {
	display: none !important;}
.nomobile {
	display: inherit !important;}
.notab {
	display: none !important;}
.nowide {
	display: inherit !important;}

}


@media screen and (min-width:1024px) {
	
.onlymobile {
	display: none !important;}
.onlytab {
	display: none !important;}
.onlywide {
	display: inherit !important;}
.nomobile {
	display: inherit !important;}
.notab {
	display: inherit !important;}
.nowide {
	display: none !important;}
	
}