@charset "UTF-8";
/* _MIXIN.SCSS */


@mixin transition ($transition-property:all, $transition-time:0.3s, $method:ease-in-out){
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-ransition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;}
	
	



@mixin sfondo-trasparente($color, $alpha: 0.5) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background:$color;
	background-color:$rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str});
}


@mixin cento{
	display:block;
	position:relative;
	width:100%;
	clear:both;
}


/*.css3 {
@include linear-gradient(color-stops($bianco 30%, $nero));
@include border-radius(2px);
@include box-shadow(1px 1px 6px  #999);
@include box-shadow( inset 0px 2px 3px #fff, 0px 3px 2px #aaa);
@include text-shadow(0 1px 1px rgba(255, 255, 255, 0.75));
}
*/

@mixin arrow($direction:"up", $size:"10px", $color:$nero) {
	
			  width: 0; 
			  height: 0;
			  border-color:transparent;
			  border-style:solid; 
			  
			  @if $direction == "up" {
			  	border-left: $wide solid transparent;
			  	border-right: $wide solid transparent;
			  	border-bottom: $wide solid $color;
			  } 
			  
			  @else if $direction == "left" {
			  	border-top: $wide solid transparent;
			  	border-bottom: $wide solid transparent;
			  	border-right: $wide solid $color;
			  }
			  
			  @else if $direction == "down" {
			  	border-left: $wide solid transparent;
			  	border-right: $wide solid transparent;
			  	border-top: $wide solid $color;
			  }
			  
			  @else if $direction == "right" {
			  	border-bottom: $wide solid transparent;
			  	border-top: $wide solid transparent;
			  	border-left: $wide solid $color;
			  }
		  
}