/* PAGINE */


/* PAGINA CONTATTI */
 
.page-contatti {
	.bordata {
		padding-bottom: 50px !important;
		@include mq($from:tablet){
			padding-bottom: 0px !important;
			//border-right: 1px solid $nerochiaro;
		}
		
	}

	form {
		padding-left: 15px;

		input {
			height: 45px;
			display: block;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 20px;
			width: 100%;
			float: left;
			margin-bottom: 26px;
			background: #eee !important;
			border: 0;
			color: $nerochiaro !important;
			border-radius:0 !important;


		}

		textarea {
			padding: 20px;
			width: 100%;
			height: 180px;
			background: #eee;
			border: 0;
			margin-bottom: 20px;
			border-radius:0 !important;
		}

		input[type="submit"] {
			width: 150px;
			text-align: center;
			padding: 0;
			height: 48px;
			line-height: 48px;
			border: 0;
			border-top: 1px solid $nero;
			border-bottom: 1px solid $nero;
			text-transform: uppercase;
			background: none !important;
			font-size: 12px;
		    margin-top: 20px;
		    margin-bottom: 0;
		    font-weight: normal;
		    letter-spacing: 0.48px;
		    @include transition();
		    border-radius:0 !important;

			&:hover {
				background:$azzurro !important;
				color: $bianco !important;
				border-top: 1px solid $azzurro;
				border-bottom: 1px solid $azzurro;
			}
		}
	}
}

#map {
	width: 97%;
	height: 0px;
	padding-bottom: 55%;
}

.reverse_col {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
}




/* DESIGNER */

.item_designer {
	cursor: pointer;
	height: auto;
	position: relative;
	@include mq($to:500px){width:100%;}
	@include mq($from:500px){ width: 50%;}
	@include mq($from:tablet) { width: 33.33%; padding-bottom: 40px;}


	img { 
		display: block;
		width: 100%;
		outline: 10px solid transparent;
		outline-offset: -10px;
		@include transition($transition-time:0.6s);
	}

	h4 {
		@include mq($from:desktop){ padding-left:40px;}
	}
}

.item_designer:hover {
	img {
		outline: 10px solid $azzurro;
		outline-offset: -10px;
	}
}

.item_designer:nth-child(2n+1){
	@include mq($from:500px){ 
		clear: left;
	}
	@include mq($from:tablet){
		clear: inherit;
	}
}

.item_designer:nth-child(3n+1){
	@include mq($from:tablet){
		clear: left;
	}
}


h3.titolo_designer {

	@include lato;
	font-size: 24px;
	line-height: 1em;
}


/* CATEGORIE */

.titolo_categoria {
	text-transform: capitalize;
}

.item_category {
	cursor: pointer;
	height: auto;
	position: relative;
	@include mq($to:500px){width:100%;}
	@include mq($from:500px){ width: 50%;}
	@include mq($from:tablet) { width: 33.33%;}
	@include mq($from:desktop) { width: 25%;}


	.cat_img_mask { 
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 66.666%;
		background-size: cover !important;
		background-repeat: no-repeat;
		background-position: center center;
		outline: 10px solid transparent;
		outline-offset: -10px;
		@include transition($transition-time:0.6s);
	}

	h4 {
		@include mq($from:desktop){ padding-left:40px;}
	}
}

.item_event.item_category {
	@include mq($from:desktop) { width: 33.33%;}
}

.item_category:hover {
	.cat_img_mask {
		outline: 10px solid $azzurro;
		outline-offset: -10px;
	}
}

span.periodo, span.periodo_single {
	display: block;
	padding-left: 20px;
	min-height: 50px;
	color: $grigio;
	font-size: 11px;
	padding-top: 5px;

	@include mq($from:desktop){
		padding-left:20px;
		font-size: 13px;
		min-height: 60px;
	}
	@include mq($from:wide){
		font-size: 14px;
		min-height: 70px;
	}
}

span.periodo_single {
	padding-left: 0 !important;
}

.press-grid .item_category .cat_img_mask { padding-bottom: 134%; }


.reset {
	clear: left;
	@include mq($from:tablet){ clear:inherit;}
}

.reset3 {
	@include mq($from:tablet){ clear:left;}
	@include mq($from:desktop) { clear: inherit;}
}
.reset4 {
	@include mq($from:desktop){ clear:left;}
}




.item_event h4.prodotto_titolo, .item_category h4.prodotto_titolo {
	padding-top: 10px;
	@include mq($from:desktop){ padding-top:15px; }
}
/* DESIGNER */

a.link_designer {
	color: $azzurro;
	text-decoration: underline;

	&:hover {
		color:$nero;
	}
}



.event-grid {
	display:flex;
	flex-wrap:wrap;
}



/* STORE LOCATOR */

pre {
	font-family: inherit !important;
	white-space: inherit !important;
}

.wpsl-direction-wrap {
	display: none;
}

body #wpsl-wrap.wpsl-store-below #wpsl-result-list li {
	width: 100% !important;
	float: left !important;
	padding-left: 40px;
	display: block !important;
	background-image:url('../img/sfondomarker.jpg');
	background-repeat: no-repeat;
	background-position: left top 22px; 
	padding-top: 20px;

	@include mq($from:tablet){ 
		width: calc(50% - 15px) !important;
		margin-right: 15px;

	}
	strong { text-transform: uppercase;}
	p { margin: 0 !important;}
}

body #wpsl-wrap.wpsl-store-below #wpsl-result-list li:nth-child(even){
	@include mq($from:tablet){
		width: calc(50% - 15px) !important;
		margin-left: 15px;
		margin-right: 0px;
	}
}

body #wpsl-wrap.wpsl-store-below #wpsl-result-list li:nth-child(odd){
	@include mq($from:tablet){
		clear: left;
	}
}

body #wpsl-result-list #wpsl-stores {
	height: auto !important;
	overflow-Y:visible; 
}

.wpsl-search {
	background: none !important;
	padding-top: 45px !important;

}

body #wpsl-search-btn {
	display: inline-block !important;
	 height: 48px !important;
  line-height: 48px;
	font-size: 12px;
	letter-spacing: 0.48px;
	word-spacing: 0.07em;
	text-align: center;
	text-transform: uppercase !important;
	color: $nero !important;
	border: 0 !important;
	padding: 0  !important;
	margin: 0  !important;
	border-top: 1px solid $nero !important;
	border-bottom: 1px solid $nero !important;
	background: none !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
	border-radius: 0 !important;
	background: none !important;
	margin-left: 20px !important;
	@include transition();
	font-weight: normal;
	box-shadow: 0px 0px 0px rgba(255,255,255,0) !important;

	&:hover {
		color: $bianco !important;
		border-top: 1px solid $azzurro !important;
		border-bottom: 1px solid $azzurro !important;
		background: $azzurro !important;
	}
}

#wpsl-search-wrap .wpsl-input label, #wpsl-search-wrap div label {
	display: block;
	white-space: nowrap;
	width: auto;
	float: left;
	padding-left: 15px;
}

.wpsl-dropdown, #wpsl-search-wrap input {
	border-radius: 0 !important;
}

.wpsl-dropdown {
	width: auto !important;
}

#wpsl-search-btn, #wpsl-search-wrap > div {
	width: 100%;
}

body #wpsl-search-btn {
	margin-left: 27px !important;
	    width: inherit;

	@include mq($from:960px){
		width: initial !important;
	}
}

body .wpsl-no-filters #wpsl-search-input {
	margin-left: 27px;
	height: 48px;
	line-height: 48px;
	width: calc( 100% - 50px ) !important;

	@include mq($from:960px){
		margin-top:0px !important;
		width: calc( 58% ) !important;
	}
}

body .wpsl-input, body .wpsl-search-btn-wrap {
	@include mq($from:570px){
		width:calc( 50% - 15px ) !important;
	}
	@include mq($from:960px){
		margin-top:0px !important;
	}
}

body .wpsl-search-btn-wrap {
	@include mq($from:570px){
		width: initial !important;
		margin-left: 36px;
	}
	@include mq($from:960px){
		margin-top:0px !important;
	}

}



/* EDIZIONI */

.expand_row {
	width: 100%;
	clear:both;
	position: relative;
	/*	padding-top: 100px; */
	padding-bottom: 50px;
	margin-top: -60px;
    padding-top: 60px;
    float: left;
}

.row.expandible {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.close_row {
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  margin-top: -40px;
  right: 15px;
  cursor: pointer;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  @include transition();
  z-index: 999;

  &:after, &:before {
    content:" ";
    width: 40px;
    height: 1px;
    background: $nero;
    position: absolute;
    top: 50%;
    left: 0;
    @include transition();
  }

  &:before {
    width: 1px;
    height: 40px;
    top: 0;
    left: 50%;
  }

  &:hover {
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
  }
}

.mostra_prodotti .second{
	display: none;
}
.mostra_prodotti.attivo {
	.first {
		display: none;
	}
	.second {
		display: inline;
	}
}

.separate-editions {
	width: 100%;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;

	span {
		border-top: 1px solid $nero;
		width: 50px;
		height: 2px;
		display: inline-block;
	}
}

.separate-editions:first-child {
	display: none;
}

.close_basso {
	top: inherit;
	bottom: 0px;
}




.pagina-about {
	@include mq($to: tablet){
		.about-titoletto {
		    padding-top: 0px;
		    padding-bottom: 0px;
		}

		.about-titoletto .wpb_wrapper p {
		    padding: 0;
		}

		.about-citazione .vc_col-sm-1 {
			padding: 0;
		}
		.about-citazione .vc_col-sm-10 {
		    padding-top: 0;
		    padding-bottom: 0;
		}

		.about-contenuti .wpb_text_column {
		    padding-top: 0 !important;
		}

		.about-contenuti .vc_column_container {
			padding-top: 0;
		}
	}
}





/*** SHOP ***/

body.shop .wrap {
    max-width: unset;
}

.page-shop {
	overflow: hidden;
	overflow-x: hidden;
	min-height: calc(100vh - 48px);

	@include mq($from: tablet){
		min-height: calc(100vh - 115px);
	}

	.wk_product_item {
		padding: 10px !important;

		&.wk_hidden {
			//display: none;
		}
	}

	.filter-title {
		text-transform: unset;
	    font-size: 1rem;
	    margin-bottom: 15px;
	    text-transform: uppercase;
	    line-height: 1em;
	}

	ul.filter-container {
	    margin-bottom: 40px;
	}

	.filter-item {
		position: relative;
		@include transition;
	}

	.filter-item > span {
		position: relative;
		font-size: 1rem;
		line-height: 22px;
	}

	.filter-item > span::after {
		content: "+";
		display: inline-block;
		font-size: 16px;
		line-height: 14px;
		position: absolute;
		transform-origin: center;
		transform: rotate(135deg);
	    right: -25px;
    	top: 1px;
		opacity: 0;
		@include transition;

		@include mq($from: tablet){
			font-size: 1.5em;
			margin-bottom: 2px;
			margin-left: 2px;
			top: 21%;
		}
	}

	.filter-item.attivo {
		@include transition;
		font-weight: 600;

		& > span::after {
			opacity: 1;
			@include transition;
		}
	}
}

.notouch .filter-item:hover {
	cursor: pointer;
	padding-left: 10px;
	@include transition;

	& > span::after {
		@include transition;
	}
}


.filter-panel {
	@include mq($to: tablet){
		width: 100%;
		position: fixed;
		z-index: 999;
		background-color: white;
		bottom: 48px;
		transform: translateY(100%);
		@include transition;
		height: 100vh;
		padding: 0 15px 60px 15px;
		border-top: 1px solid #000;

	}

	@include mq($from: tablet){
		position: fixed !important;
		overflow-x: hidden;
		height: calc(100vh - 115px);
		float: unset;
		width: 24%;
	}

	@include mq($from: desktop){
		width: 22%;
	}

	@include mq($from: wide){
		width: 18%;
	}

	.filter-header {
	    text-align: center;
	    position: relative;
	    height: 48px;
	    margin-bottom: 20px;

	    h3 {
	    	@include trade;
	    	line-height: 1.3em;
	    	padding-top: 4px;
	    	margin-bottom: 0;
	    	position: absolute;
	    	top: 50%;
	    	transform: translateY(-50%);
	    	font-size: .875rem;
	    }

	    span.icona_filter {
	        display: inline-block;
	        height: 1em;
	        margin-left: 10px;
	    }

	    span.icona_filter svg {
	        height: .8em;
	    }

	    @include mq($from: tablet){
	    	display: none;
	    }
	}

	&.attivo {
		top: 0;
		transform: translateY(0);
		z-index: 999999;
		@include transition;

		@include mq($to: tablet){
			overflow-y: scroll;
		}

		span.icona_filter {
		    display: none;
		}
	}

	/*
	&.attivo .filter-header::after {
	    content: "+";
	    display: block;
	    color: black;
	    font-size: 1.8rem;
	    position: absolute;
	    right: 0;
	    transform: rotate(45deg);
        top: 14px;
	}
	*/
}

.filter-button.wk_pulsante_container {
    text-align: center;
    position: fixed;
    z-index: 9999999;
    bottom: 0px;
    left: 4%;
    /* transform: translateX(-50%); */
    width: 92%;
    padding: 0 0 10px 0;
    background-color: white;
    display: none;
}

.filter-button.wk_pulsante_container button {
    -webkit-appearance: none;
    width: 100%;
    padding: 4px 15px 0;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    @include trade;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .1em;
    line-height: 40px;
    @include transition;
    outline: none;

    &.attivo {
    	background: #e4d2c4;
    	border-top: 1px solid #e4d2c4;
    	border-bottom: 1px solid #e4d2c4;
    	color: #fafafa;
    	outline: none;
    	@include transition;
    }
}

.filter-panel.attivo .close-btn {
    display: block;
    position: absolute;
    top: 50%;
    right: 00px;
    width: 21px;
    height: 21px;
    transform: translateY(-50%) rotate(45deg);

    .line:first-of-type {
        display: block;
        width: 100%;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 10px;
    }

    .line:last-of-type {
        display: block;
        width: 1px;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0px;
        left: 10px;
    }
}


/*
ul.filter-container.filter-designer {
    overflow: hidden;
    height: 0;
   	max-height: 0px;
    @include transition(1s);
}

.filtri-designer {
	height: auto;
}

.notouch .filtri-designer:hover .filter-designer {
    height: auto;
 	max-height: 400px;
    @include transition(1s);
}
*/

/*
.notouch ul.filter-container.filter-designer {
	@include mq($from: tablet){
		display: none;
	} 
}
*/


body .grid-shop {
	flex-shrink: 0;

	@include mq($from: tablet){
		position: relative;
		width: 73%;
		left: 27%;
	    top: 0;
	}

	@include mq($from: desktop){
		width: 75%;
		left: 25%;
	}

	@include mq($from: wide){
		width: 80%;
	    left: 20%;
	}

	.grid-sizer, .grid-item {
		width: 49%;
		flex-shrink: 0;
		flex-grow: 0;

		@include mq($from: tablet){
			width: 33%;
		}

		@include mq($from: wide){
			width: 24%;
		}

	}

	.grid-sizer {
		overflow: hidden;
		height: 0;
		margin: 0;
		padding: 0;
	}

	/*
	li.grid-item {
		min-height: 70vw;

		@include mq($from: tablet){
	    	min-height: 28vw;
	    }

	    @include mq($from: desktop){
	    	min-height: 32vw;
	    }

	    @include mq($from: wide){
	    	min-height: 27vw;
	    }
	}
	*/
}


.prodotto-correlato, .wk_product_item {

	h4.prodotto_titolo {
		font-size: 1rem;
		line-height: 1.3em;

		.more_variations {
			top: 13px!important;
			font-size: .75rem  !important;
			line-height: 1.75em;
		}
	}

	span.prodotto_sottotitolo {
		font-size: .75rem;
		line-height: 1.6em;
	}

	.prodotto_prezzo .woocommerce-Price-amount {
		font-size: 1rem;
	}
}





/*		ARCHIVIO HOSPITALITY	*/

.wk_hospitality_header {
	margin-top: 70px;
	text-align: center;
	margin-bottom: 50px;
}

.wk_hospitality_list {
	width: 90%;
}

.wk_hospitality_item {

	@include mq($from: tablet){
		margin:  0 0 90px 0;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row-reverse;
		text-align: right;
		//max-width: 45%;

		&.odd {
			flex-direction: row;
			text-align: left;
			//max-width: 55%;
		}
	}
}


.wk_hospitality_item .wk_item_cover {
	width: 100%;
	height: auto;	

	@include mq($from: tablet){
		width: auto;
	    max-width: 45%;
	    display: flex;

	    &.vertical-item {
	    	max-width: 40%;
	    }
	}

    img {
    	max-width: 100%;
    	display: block;
    }
}

.wk_hospitality_item.odd .wk_item_cover {
	@include mq($from: tablet){
		max-width: 55%;
	}
}

.wk_item_content {
    padding-left: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
	
	@include mq($from: tablet){
	    width: 45%;
	    padding-left: 0;
	    padding-right: 8%;
	    margin: 0;
	}

    h2 {
    	@include mq($from: tablet){
    		font-size: 2rem;
    		line-height: 1.2em;
    	}

    	@include mq($from: desktop){
    		font-size: 2.5rem;
    	}
    }

    h2::before {
        content: " ";
        position: absolute;
        display: block;
        top: .5em;
        width: 25px;
        height: 1px;
        left: 0;
        background-color: black;
        transform: translateX(calc(-100% - 15px));

        @include mq($from: tablet){
        	width: 28%;
        	transform: translateX(calc(100% + 20px));
        	left: unset;
        	right: 0;
        }
    }

    .wk_pulsante_container {
        margin-top: 40px;
    }
}

.odd .wk_item_content {
	padding-right: 0;
    padding-left: 40px;

    @include mq($from: tablet){
    	padding-left: 8%;
   	}

	h2::before {
	    content: " ";
	    position: absolute;
	    display: block;
	    top: .5em;
	    width: 25px;
	    height: 1px;
	    left: 0;
	    background-color: black;
	    transform: translateX(calc(-100% - 15px));

	    @include mq($from: tablet){
	    	width: 28%;
	    	transform: translateX(calc(-100% - 20px));
	    }
	}
}
