/* SINGOLO ANNUNCIO */


/* SINGOLO ANNUNCIO */
#singolo-overlay, {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($azzurro, 0.6);
  z-index: 99999;
  overflow: hidden;
    overflow-Y: scroll;
  -webkit-overflow-scrolling: touch;
}

.rame #singolo-overlay {
  background: rgba($rame, 0.6);
}

#loader-singolo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  
  &:after {
    display:block;
    position:absolute;
    top:50px;
    content :" ";
    width:100px;
    height:1px;
    background:$nero;
    
    -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  }
}


#singolo-overlay {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

#singolo-overlay.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}


#singolo-overlay.loadingOff #loader-singolo{
  opacity: 0;
}

#singolo-overlay .wrapper-singolo {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  /*min-height: calc(100vh);*/
  /* height: 100%; */
  background: $biancopuro;
  position: relative;

  img {max-width: 100%;}
}



/* Overlay closing cross  */
#singolo-overlay .overlay-close {
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transform:rotate(45deg);
  @include transition();
  z-index: 999;

  &:after, &:before {
    content:" ";
    width: 40px;
    height: 1px;
    background: $nero;
    position: absolute;
    top: 50%;
    left: 0;
    @include transition();
  }

  &:before {
    width: 1px;
    height: 40px;
    top: 0;
    left: 50%;
  }

  &:hover {
    transform:rotate(135deg);
  }
}



.pagina-singola {

  .overlay-close { display: none !important;}

}


/* STILE PAGINA */

#singolo-overlay .wrapper-singolo:not(.pagina-singola) {
  .col-1 { display: none;}
  padding:20px;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  @include mq($from:tablet){ padding: 30px;}
  @include mq($from:desktop){ 
    padding: 40px;
    /*
    margin-top:130px;
    margin-bottom:130px;*/
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include mq($from:wide){ 
    padding: 55px;
    padding-top: 60px;
    /*
    margin-top: 200px;
    margin-bottom: 200px;
    */
    padding-bottom: 60px;
  }


  &.marginato {
    margin-top:40px;
    margin-bottom:40px;
    top: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    
    @include mq($from:desktop){ 
      margin-top:75px;
      margin-bottom:75px;
    }
    @include mq($from:wide){ 
      margin-top: 100px;
      margin-bottom: 100px;
    }

  }

  .col-5.foto-designer {
    width: 100%;
    @include mq($from:desktop){
      width:42%;
    }
  }
  .col-5.desc-designer {
    width: 100%;
    @include mq($from:desktop){
      width:58%;
    }
  }

  .col-10.corr-designer {
    width: 100%;
  }
}

.corr-designer {
    & > a {
        @include trade;
        line-height: 48px;
        font-size: 12px;
        padding-top: 1px;
    }
}




// Highlight

.highlights-container {
    width: 100%;
    overflow-x: visible;

    @include mq($from: desktop){
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }  
}

.highlights-row {
    display: flex;
    flex-wrap: wrap;

    @include mq($from: desktop){
        height: inherit;
        display: inline-flex;
        justify-content: left;
        width: auto;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.highlights-item {
    width: calc(50% - 30px);
    margin: 15px;

    @include mq($from: tablet){
        width: calc(33.333% - 30px);
    }

    @include mq($from: desktop){
        width: calc(20vw - 30px);
        margin: 15px;
    }    

    h4.prodotto_titolo {
      padding-left: 0;
    }
}

.highlights-row {
  a .mask_outline{
    outline: 10px solid transparent !important;
    outline-offset: -10px;
    @include transition();

    img { display: block;}
  }

  a:hover {

    .mask_outline{
      outline: 10px solid $azzurro !important;
      outline-offset: -10px;
    }

    h4.prodotto_titolo { color: $nero;}
  }
}

.highlights-row.no-animation {
    width: 100%;
    justify-content: center;
}






/*    SINGOLA HOSPITALITY    */

.slider-hospitality {
    margin-bottom: 10px;
}

.wk-hospitality-slide {
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
}

.hospitality-tag {
    font-size: .75rem;
    line-height: 1.6em;
    color: $grigio;
}



.content-hospitality {
    text-align: center;

    h2 {
      line-height: 1.3em;
    }
}

.hospitality-content {
    text-align: center;
}

.related-title {
    text-align: center;
}

.wk_contattaci {
    margin-top: 60px;
    text-align: center;
}

#singolo-overlay .slider-news ul.flex-direction-nav {
    width: 150%;
}


