/* SLIDER */

#slider-editions, .slider-interno {
	position: relative;

	.ed_immagine, .ed_descrizione {
		padding: 0;
	}

	.ed_immagine img {display: block;}

	.ed_descrizione {
		padding-top: 50px;
		padding-bottom: 50px;
		background-size: cover;

		@include mq($from:tablet){
			position:absolute;
			width: 50%;
			height: 100%;
		}
		@include mq($from:desktop){
			padding-top: 80px;
			padding-right: 60px; 
		}
	}

	.ed_immagine {
		width: 100%;
		height: 0;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		@include mq($from:tablet){
			width: 50%;
			padding-bottom: 67%;
			margin-left:50%;
		}
	}

	.contatore-slide {
		position: absolute;
		font-family: 'Italiana', serif;
		bottom: 50px;
		right: 47px;
		font-size: 30px;
		z-index: 9;
		@include mq($from:tablet){font-size:38px;}
		@include mq($from:desktop){font-size:42px;}
		@include mq($from:wide){font-size:48px;}

		span {
			font-size: 20px;
			@include mq($from:tablet){font-size:28px;}
			@include mq($from:desktop){font-size:32px;}
			@include mq($from:wide){font-size:38px;}
		}
	}


	a.flex-prev, a.flex-next {
		display: block;
		z-index: 9;
		text-indent: -9999px;
		position: absolute;
		bottom: 0;
		//left:inherit;
		//right: 51px;
		//margin-left: -51px;
		//background: $rame url("../img/freccia_sx_bianca.png") center center no-repeat;
		//background-size: 70%;
		width: 50%;
	    height: 100%;
	    background-color: transparent;
	    background: none;

		&:hover {
			//background: rgba($bianco, 0.5) url("../img/freccia_sx_nera.png") center center no-repeat;
			background: none;
			background-size: 70%;
		}
	}

	a.flex-prev {
		left: 0;
		cursor: url("../img/freccia_sx_nera.png"), auto;
	}

	a.flex-next {
		left: unset;
		right:0;
		margin-left:0;
		cursor: url("../img/freccia_dx_nera.png"), auto;
		//background: $rame url("../img/freccia_dx_bianca.png") center center no-repeat;
		//background-size: 70%;

		&:hover {
			//background: rgba($bianco, 0.5) url("../img/freccia_dx_nera.png") center center no-repeat;
			background-size: 70%;
		}
	}
}

/*
.slider-prodotti-salone {
	position: relative;


		.flex-direction-nav {
		    position: absolute;
		    top: 0;
		    right: 15px;
		    padding-top: calc(54.54% - 50px);
		    width: 100px;
		}

		a.flex-prev, a.flex-next {
			display: block;
			z-index: 9;
			text-indent: -9999px;
			position: relative;
			width: 50px;
			height: 50px;
			float: left;
			background: $azzurro url("../img/freccia_sx_bianca.png") center center no-repeat;
			background-size: 70%;

			&:hover {
				background: rgba($bianco, 0.5) url("../img/freccia_sx_nera.png") center center no-repeat;
				background-size: 70%;
			}
		}
		a.flex-next {
			background: $azzurro url("../img/freccia_dx_bianca.png") center center no-repeat;
			background-size: 70%;

			&:hover {
				background: rgba($bianco, 0.5) url("../img/freccia_dx_nera.png") center center no-repeat;
				background-size: 70%;
			}
		}
	
}
*/

.homepage #slider-editions {

	@include mq($from:tablet){

		a.flex-prev, a.flex-next {
			bottom: 15px;
		}

	}
}


.slider-interno img {
	width: 100% !important;
	height: auto !important;
	display: block;
}

.slider-interno {
	

	.contatore-slide {
		top:102%;
		right: 0;

		@include mq($from:tablet){
			top: 10px;
			right: -10px;
			transform:translateX(100%);
			-webkit-transform:translateX(100%);
		}
	}

	@include mq($from:tablet){

		a.flex-prev, a.flex-next {
			
			bottom: 0px;
			left: 0;
			margin-left:0px;
			background: none;

			&:hover {
				//background: rgba($bianco, 0.5) url("../img/freccia_sx_nera.png") center center no-repeat;
				cursor: url("../img/freccia_sx_nera.png"), auto;
				background: none;
				background-size: 70%;
			}
		}

		a.flex-next {
			left: unset;
			right: 0;
			&:hover {
				//background: rgba($bianco, 0.5) url("../img/freccia_dx_nera.png") center center no-repeat;
				cursor: url("../img/freccia_dx_nera.png"), auto;
				background: none;
				background-size: 70%;
			}
		}


	}
}



.slider-news {
	width: 100%;
	position: relative;
	margin-bottom: 60px;

	ul.slides {
		width: 100%;
		display: block;

		li {
			width: 100%;
			display: block;
			height: auto;

			@include mq($from:tablet){
				height:0;
				padding-bottom: 70%;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}

			@include mq($to:tablet){
				background: none !important;
			}

			img {
				width: 100%;
				@include mq($from:tablet){display:none !important;}
			}
		}
	}

	ol.flex-control-nav.flex-control-paging {
	    display: none !important;
	}

	@include mq($from:tablet){

		ul.flex-direction-nav {
		    position: absolute;
		    width: 90vw;
		    height: 100%;
		    top: 0;
		    left: 50%;
		    transform: translateX(-50%);

		    li {
		    	width: 100%;
		    	height: 100%;
		    	position: inherit;
		    	top: 0;
		    	left: 0;
		    }
		}


		a.flex-prev, a.flex-next {
			display: block;		
			left: 0;
			margin-left:0px;
			position: inherit;
			background-image: url("../img/freccia_sx_nera.png");
			background-size: contain;
			background-position: left center;
			background-repeat: no-repeat;
			font-size: 0;
			height: 30px;
			width: 40px;
	    	top: calc(50% - 15px);
	    	z-index: 999999;
	    	@include transition;

			&:hover {
				left: 10px;
				@include transition;
				//background: rgba($bianco, 0.5) url("../img/freccia_sx_nera.png") center center no-repeat;
				//cursor: url("../img/freccia_sx_nera.png"), auto;
			}
		}

		a.flex-next {
			left: unset;
			right: 0;
			background-image: url("../img/freccia_dx_nera.png");
			@include transition;

			&:hover {
				left: unset;
				right: 10px;
				@include transition;
				//background: rgba($bianco, 0.5) url("../img/freccia_dx_nera.png") center center no-repeat;
				//cursor: url("../img/freccia_dx_nera.png"), auto;
			}
		}
	}

	

	.flex-direction-nav .flex-disabled {  cursor: default; }
	/* Control Nav */
	.flex-control-nav {width: 100%; position: absolute;  text-align: center; display: block !important; z-index: 999; bottom: -40px;}
	.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
	.flex-control-paging li a {width: 9px; height: 9px; display: block; background: $grigiochiaro; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
	.flex-control-paging li a:hover { background: $grigio; }
	.flex-control-paging li a.flex-active { background: $grigio; cursor: default; }
}


.slider-press {
	width: 80%;
	margin-left: 10%;
}
.slider-press ul.slides li{
	@include mq($from:tablet){
		background-size:contain;
		padding-bottom: 131.5%;
	}
}



#slider-prodotto {
	width: 100%;
	position: relative;

	ul.slides {
		width: 100%;

		li {
			position: relative;
			width: 100%;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}

	@include mq($from:tablet){
		a.flex-prev, a.flex-next {
			display: block;
			z-index: 9;
			text-indent: -9999px;
			position: absolute;
			width: 50%;
		    height: 0;
		    padding-top: 100%;
		    top: 0;
		    background-color: transparent;
		    background: none;
			left: 0;
			margin-left:0px;
			background: none;

			&:hover {
				//background: rgba($bianco, 0.5) url("../img/freccia_sx_nera.png") center center no-repeat;
				cursor: url("../img/freccia_sx_nera.png"), auto;
				background: none;
				background-size: 70%;
			}
		}

		a.flex-next {
			left: unset;
			right: 0;
			&:hover {
				//background: rgba($bianco, 0.5) url("../img/freccia_dx_nera.png") center center no-repeat;
				cursor: url("../img/freccia_dx_nera.png"), auto;
				background: none;
				background-size: 70%;
			}
		}
	}

	.flex-control-nav, .flex-disabled {
	    /* display: none!important; */
	    display: flex !important;

	    li {
	        width: 22%;
	        margin: 10px 10px 10px 0;
	        cursor: pointer;   
	    }

	    li img {
	    	opacity: .5;
	    	@include transition;
	    }

	    li img.flex-active, li:hover img {
	    	opacity: 1;
	    	@include transition;
	    }
	}
/*
	.flex-direction-nav .flex-disabled {  cursor: default; }
	/* Control Nav 
	.flex-control-nav {width: 100%; position: absolute;  text-align: center; display: block !important; z-index: 999; bottom: 25px;}
	.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
	.flex-control-paging li a {width: 9px; height: 9px; display: block; background: none; border: 1px solid $bianco; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
	.flex-control-paging li a:hover { background: $bianco; border: 1px solid $bianco; }
	.flex-control-paging li a.flex-active { background: $bianco; cursor: default; border: 1px solid $bianco;}

*/
	
}


/*
.rame #slider-prodotto {

	a.flex-prev, a.flex-next {
		
		background: $rame url("../img/freccia_sx_bianca.png") center center no-repeat;
		background-size: 70%;

		&:hover {
			background: rgba($rame, 0.5) url("../img/freccia_sx_bianca.png") center center no-repeat;
			background-size: 70%;
		}
	}

	a.flex-next {
		background: $rame url("../img/freccia_dx_bianca.png") center center no-repeat;
		background-size: 70%;

		&:hover {
			background: rgba($rame, 0.5) url("../img/freccia_dx_bianca.png") center center no-repeat;
			background-size: 70%;
		}
	}	
}
*/

.webkolm-slider.wk_full-page {
	width: 100%;
	height: auto;
	position: relative;
	height: 100vh;

	.testo_slide {
		width: 100%;
		position: absolute;
		top: 50vh;
		transform: translateY(-50%);
		text-align: left;
		box-sizing: border-box;

		width: 86%;
		left:7%;

		@include mq($from:tablet){
			max-width: 450px;
			width: 50%;
			left:0;
			top: 50%;
			transform: unset;
			text-shadow: 0px 0px 25.38px rgba(0, 0, 0, 0.3);
		}
		

		h1{
			@include brewery;
			color: $bianco;
			font-size: 2rem;
			

			@include mq($from:tablet){
				font-size: 40px;
			}
			@include mq($from:desktop){
				font-size: 45px;
			}
			@include mq($from:wide){
				font-size: 52px;
			}
		}

		&.top-left {
			text-align: left;

			@include mq($from:tablet){
				text-align: left;
				left: 6vw;
				top: 9vw;
			}
		}
		&.top-center {
			text-align: center;

			@include mq($from:tablet){
				text-align: center;
				left: 50%;
				top: 9vw;
				transform: translateX(-50%);
			}
		}
		&.top-right {
			text-align: right;

			@include mq($from:tablet){
				text-align: right;
				right: 6vw;
				top: 9vw;
				left: unset;
			}
		}
		&.center-left {
			text-align: left;

			@include mq($from:tablet){
				text-align: left;
				left: 6vw;
				transform:translateY(-50%);
				top: 50%;
			}
		}
		&.center-center {
			text-align: center;
			@include mq($from:tablet){
				text-align: center;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				top: 50%;
			}
		}
		&.center-right {
			text-align: right;
			@include mq($from:tablet){
				text-align: right;
				right: 6vw;
				transform:translateY(-50%);
				top: 50%;
				left: unset;
			}
		}
		&.bottom-left {
			text-align: left;
			@include mq($from:tablet){
				text-align: left;
				left: 6vw;
				bottom: 9vw;
				top: unset;
			}
		}
		&.bottom-center {
			text-align: center;
			@include mq($from:tablet){
				text-align: center;
				left: 50%;
				bottom: 9vw;
				transform: translateX(-50%);
				top: unset;
			}
		}
		&.bottom-right {
			text-align: right;
			@include mq($from:tablet){
				text-align: right;
				bottom: 9vw;
				right: 6vw;
				top: unset;
				left: unset;
			}
		}
	}
}

//@include mq($from: tablet){
	.webkolm-slider.full-page-slider {
		position: fixed;
		left: 0;
		top: 0;
		//transform: translateX(-100%);
	}

	.riga-parallasse {
	    z-index: 0;
	    //height: 100vh;
	    //transform: translateX(100%);
	}
//}



.lookbook-header {
    text-align: center;

    @include mq($from: tablet){
    	margin-bottom: 20px;
    	margin-top: 50px;
    }

    .lookbook-titolo {
        text-align: center;
        margin-bottom: 0;
    }

    .lookbook-subtitle {
        font-size: .75rem;
        display: block;

        @include mq($from: tablet){
        	font-size: .9rem;
        }
    }
}


#lookbook_slider {
	width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
	height: auto;
	padding-bottom: 0;
	overflow-y: hidden !important;
	overflow-x: visible !important;
}

#lookbook_slider .flex-viewport {
    min-height: 70vh !important;
    height: auto;
    width: 92%;
    margin: 0 auto;
    max-width: 1200px;
}

#lookbook_slider .slide-lookbook .slideimg{
	margin: 0 15px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

#lookbook_slider .slide-lookbook.odd .slideimg{
	@include mq($from: tablet){
		position: relative;
		left: calc(25% - 30px);
		width: 75%;
		height: 80%;
	    top: 10%;
		background-position: right center;
		background-size: contain;
	}
}

#lookbook_slider .slide-lookbook img {
	display: block;
    width: auto;
    height: 100%;
    max-height: 70vh;
}


#lookbook_slider ul.flex-direction-nav {
    height: 100%;
    position: absolute;
    top: 0;
    overflow-x: visible;
    width: 92%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);

	li {
        width: 10%;
        position: absolute;
        height: 100%;

        @include mq($from: wide){
        	width: 2.5%;
    		left: -4%;
    	}
    }

    li a {
    	display: block !important;
    	height: 50px;
    	position: relative;
    	top: calc(50% - 25px);
    	background-image: url("../img/freccia_sx_nera.png");
    	background-position: left center;
    	background-repeat: no-repeat;
    	cursor: pointer;
    	font-size: 0rem;



    	&.flex-disabled {
    		display: none !important;
    	}
    }

    li:nth-of-type(2){
    	right: 0%;
    	left: unset;

    	@include mq($from: wide){
    		left: unset;
    		right: -4%;
    	}

    	a {
    		background-image: url("../img/freccia_dx_nera.png");
    		background-position: right center;
    	}
    }
}


.linea-scroll-container {
	position: relative;
    width: 100%;
    height: 70px;
    display: block;
    background-color: #f8f8f8;

    .linea-scroll {
    	width: 40px;
    	height: auto;
    	display: block;
    	height: 200%;
	    position: absolute;
	    top: -100%;
	    left: 50%;
	    cursor: pointer;

        .linea {
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: black;
            left: 50%;
            @include transition;
        }
    }
}

.notouch .linea-scroll:hover .linea {
	transform: translateY(-25%);
	@include transition;
}

