@charset "UTF-8";
/* _TEXT.SCSS */


/* Font Library */
@font-face {
  src: url('../font/TradeGothicLTStd-BoldExt/font.eot');
  font-family: 'TradeGothicLTStd-BoldExt';
  src: url('../font/TradeGothicLTStd-BoldExt/font.woff2') format('woff2'), url('../font/TradeGothicLTStd-BoldExt/font.woff') format('woff'), url('../font/TradeGothicLTStd-BoldExt/font.eot?#iefix') format('embedded-opentype'), url('../font/TradeGothicLTStd-BoldExt/font.ttf') format('truetype');
}
@font-face {
  src: url('../font/BreweryNo2Pro-Regular/font.eot');
  font-family: 'BreweryNo2Pro-Regular';
  src: url('../font/BreweryNo2Pro-Regular/font.woff2') format('woff2'), url('../font/BreweryNo2Pro-Regular/font.woff') format('woff'), url('../font/BreweryNo2Pro-Regular/font.eot?#iefix') format('embedded-opentype'), url('../font/BreweryNo2Pro-Regular/font.ttf') format('truetype');
}


/* FONT PER LE ICONE */
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot?16460771');
  src: url('../font/iconfont.eot?16460771#iefix') format('embedded-opentype'),
       url('../font/iconfont.woff?16460771') format('woff'),
       url('../font/iconfont.ttf?16460771') format('truetype'),
       url('../font/iconfont.svg?16460771#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.svg?16460771#iconfont') format('svg');
  }
}
*/


@mixin opensans {font:normal 100%/1.5 'Roboto', sans-serif;}
@mixin lora {font:normal 100%/1.5 'Roboto', sans-serif;}
@mixin lato {font:normal 100%/1.5 'Roboto', sans-serif;}
@mixin italiana {font:normal 100%/1.5 'Roboto', serif;}
@mixin brewery {font:normal 100%/1.5  'BreweryNo2Pro-Regular', serif;}
@mixin trade {font:normal 100%/1.5  'BreweryNo2Pro-Regular', sans-serif;}
@mixin testoprincipale {font:normal 100%/1.5  'Roboto', serif;}
@mixin icone {font:normal 100%/1.5  'iconfont', sans-serif;}




i, em { font-style:italic;}
strong, b { font-weight:bold; }
strong em, strong i, { font-weight: bold; font-style: italic; }




/* Link di base */
a {
	text-decoration:none;
	color:$link;
	@include transition(all 0.2s ease-in-out);}

a:hover {
	color:$link_hover;
	text-decoration:none;}



@mixin textexpand {
	letter-spacing:0.06em;
	word-spacing:0.1em;
}




/* ICONE */



 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?90768614');
  src: url('../font/fontello.eot?90768614#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?90768614') format('woff'),
       url('../font/fontello.ttf?90768614') format('truetype'),
       url('../font/fontello.svg?90768614#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90768614#fontello') format('svg');
  }
}
*/
 
 [class^="icon2-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lock-open-alt:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-twitter-bird:before { content: '\e804'; } /* '' */
.icon-vimeo:before { content: '\e805'; } /* '' */
.icon-align-justify:before { content: '\e806'; } /* '' */
.icon-down-open-big:before { content: '\e807'; } /* '' */
.icon-left-open-big:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-path:before { content: '\e80b'; } /* '' */
.icon-th-list-1:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-mail-1:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-gplus:before { content: '\e812'; } /* '' */
.icon-linkedin:before { content: '\e813'; } /* '' */



 
.icon-lock-open-alt:after { content: '\e801'; } /* '' */
.icon-th-list:after { content: '\e802'; } /* '' */
.icon-facebook:after { content: '\e803'; } /* '' */
.icon-twitter-bird:after { content: '\e804'; } /* '' */
.icon-vimeo:after { content: '\e805'; } /* '' */
.icon-align-justify:after { content: '\e806'; } /* '' */
.icon-down-open-big:after { content: '\e807'; } /* '' */
.icon-left-open-big:after { content: '\e808'; } /* '' */
.icon-right-open-big:after { content: '\e809'; } /* '' */
.icon-up-open-big:after { content: '\e80a'; } /* '' */
.icon-path:after { content: '\e80b'; } /* '' */
.icon-th-list-1:after { content: '\e80c'; } /* '' */
.icon-mail:after { content: '\e80d'; } /* '' */
.icon-mail-1:after { content: '\e80e'; } /* '' */
.icon-menu:after { content: '\e80f'; } /* '' */
.icon-gplus:after { content: '\e812'; } /* '' */


.icon2-instagram:before { content: '\e800'; } /* '' */



/* INTESTAZIONI */

h1,
h2,
h3,
h4,
h5,
h6 {
	
	color:$titolo1;
	margin:0;
	padding:0;
	font-family: inherit;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}

.wp_content {
  h1,
h2,
h3,
h4,
h5,
h6 { margin-top: 1em; margin-bottom: 0.8em; line-height: 1.3em;}

h1 { font-size: 1.8em;}
h2 { font-size: 1.6em;}
h3 { font-size: 1.4em;}
h4 { font-size: 1.2em; font-style: italic; font-weight: bold;}
h5 { font-size: 1em; text-transform: uppercase;}
h6 { font-size: 0.8em; font-style: italic; text-transform: uppercase;}
}


.wrap_news .wp_content {

    h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin-top: 0em;}

}


h1, h2, h3 {
  @include brewery;
  font-size: 30px;
  color: $nero;
  width: 100%;
  position: relative;
  margin-bottom: 0px; 
  text-transform: uppercase;
  line-height: 1em;
  padding-left: 0;

  &:before {
    display: none;
  }

  &.linea {
    padding-left: 50px;
  }

  &.linea:before {
    content:'';
    position: absolute;
    display: inline;
    border-bottom: 1px solid $nero;
    width: 30px;
    height: 1em;
    top: -0.5em;
    left: 0;
  }

  @include mq($from:tablet){ 
    font-size:40px;
    margin-bottom: 15px; 

    &.linea {
      padding-left: 100px;
    }

    &.linea:before{
      width:65px;
    }

  }
  @include mq($from:desktop){ 
    font-size:50px;
  }
  @include mq($from:wide){ 
    font-size:60px;
  }
}


h2 {
  font-size: 1.8rem;

  @include mq($from:tablet){ 
    font-size: 2rem;
  }
  @include mq($from:desktop){ 
    font-size: 2.5rem;
  }
  @include mq($from:wide){ 
    font-size: 2.8rem;
  }
}


h3 {
  font-size: 16px;
  margin-bottom: 25px;

  &.linea {
    padding-left: 30px;
  }

  &.linea:before {
    width: 20px;
  }


  @include mq($from:tablet){ 
    font-size:20px;

    &.linea {
      padding-left: 45px;
    }

    &.linea:before{
      width:35px;
    }

  }
  @include mq($from:desktop){ 
    font-size:25px;
  }
  @include mq($from:wide){ 
    font-size:30px;
  }
}

h5 {
    @include trade;
    font-size: .7rem;
}



body .pbSubmit {
    background-color: transparent;
    color: transparent;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 75px;
}

a.freccia_sx, a.freccia_dx, div.freccia_sx, div.freccia_dx {
  clear: both;
  margin-top: 50px;
  height: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: $nero;
  float: left;
  padding-left: 75px;
  cursor: pointer;
  padding-right: 10px;
  font-size: 12px;
  border-top: 1px solid $nero;
  border-bottom: 1px solid $nero;
  background: url("../img/freccia_sx_nera.png") no-repeat left 10px center;
  white-space: nowrap;
  @include trade;
  padding-top: 4px;

  &:hover {
    border-top:1px solid $azzurro;
    color: $bianco;
    border-bottom: 1px solid $azzurro;
    background: $azzurro url("../img/freccia_sx_bianca.png") no-repeat left 10px center;
  }display: block;
  
}

#slider-editions a.freccia_sx, #slider-editions a.freccia_dx, #slider-editions div.freccia_sx, #slider-editions div.freccia_dx, .rame div.freccia_sx, .rame div.freccia_dx, .rame a.freccia_sx, .rame a.freccia_dx {
  &:hover {
    border-top:1px solid $rame;
    color: $bianco;
    border-bottom: 1px solid $rame;
    background: $rame url("../img/freccia_sx_bianca.png") no-repeat left 10px center;
  }display: block;
}

a.freccia_dx, div.freccia_dx {
  padding-left: 10px;
  padding-right: 75px;
  background: url("../img/freccia_dx_nera.png") no-repeat right 10px center;

  &:hover {
    background: $azzurro url("../img/freccia_dx_bianca.png") no-repeat right 10px center;
  }
}
#slider-editions a.freccia_dx, #slider-editions div.freccia_dx, .rame div.freccia_dx, .rame a.freccia_dx{
  &:hover {
    background: $rame url("../img/freccia_dx_bianca.png") no-repeat right 10px center;
  }
}


a.centrato {
  clear: both;
  margin-top: 50px;
  height: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: $nero;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  border-top: 1px solid $nero;
  border-bottom: 1px solid $nero;
  margin-left: 50%;
  transform:translateX(-50%);
      white-space: nowrap;

  &:hover {
    border-top:1px solid $azzurro;
    color: $bianco;
    border-bottom: 1px solid $azzurro;
    background: $azzurro;
  }
}

a.freccia {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
  text-indent: -99999px;
  background: url("../img/freccia_dx_nera.png") no-repeat center center;
  background-size: contain;
      white-space: nowrap;

  &:hover {
    background: url("../img/freccia_dx_bianca.png") no-repeat center center;
    background-size: contain;
  }
}

a.sottolineato {
  text-decoration: underline;
  color: $nero;
  &:hover { color:$grigio;}
}

blockquote {
  @include brewery;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.25em;
  padding-left:30px;
  padding-right:30px;

  @include mq($from:tablet){ 
    font-size:24px;
  }
  @include mq($from:desktop){ 
    font-size:28px;
  }
  @include mq($from:wide){ 
    font-size:32px;
  }

  p {
    padding-bottom:0;
    margin-bottom:-5px;
  }
}


/* NUOVA FRECCIA ANIMATA */


body a.freccia_sx, body a.freccia_dx, body div.freccia_sx, body div.freccia_dx {
    padding:0;
    background:rgba($azzurro,0 );
    float:none !important;
    clear: both;
    margin-top: 50px;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: $nero;
    min-width:150px;
    text-align:center;
    cursor: pointer;
    font-size: 12px;
    border-top: 1px solid $nero;
    border-bottom: 1px solid $nero;
    white-space: nowrap;
    display: inline-block;
    text-decoration:none;
    transition: all 0.5s ease;
    
  
    &:after {
      content:"";
        background:url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0D%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0D%0A%20width%3D%2243px%22%20height%3D%227px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22white%22%0D%0A%20d%3D%22M42.993%2C3.498%20L39.000%2C6.992%20L39.000%2C3.998%20L-0.000%2C3.998%20L-0.000%2C2.998%20L39.000%2C2.998%20L39.000%2C0.004%20L42.993%2C3.498%20Z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
    background-repeat:no-repeat;
    background-position: center right;
    height:7px;
    width:0px;
    display:inline-block;
    margin-left:0px;
    transition: all 0.5s ease;
    opacity:0;
  }
}


body a.freccia_sx, body div.freccia_sx  {
  &:after {
    display:none;
  }
  &:before {
    content:""; 
    background: url("data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0D%0A%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0D%0A%20width%3D%2243px%22%20height%3D%227px%22%3E%0D%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22white%22%0D%0A%20d%3D%22M42.993%2C3.498%20L39.000%2C6.992%20L39.000%2C3.998%20L-0.000%2C3.998%20L-0.000%2C2.998%20L39.000%2C2.998%20L39.000%2C0.004%20L42.993%2C3.498%20Z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
    background-repeat:no-repeat;
    background-position: center right;
    height:7px;
    width:0px;
    display:inline-block;
    margin-left:0px;
    transition: all 0.5s ease;
    opacity:0;
    transform:rotate(180deg);
  }
}

body a.freccia_sx:hover, body a.freccia_dx:hover, body div.freccia_sx:hover, body div.freccia_dx:hover {
  background:rgba($azzurro,1 );
  color: $bianco;
  border-top: 1px solid $azzurro;
  border-bottom: 1px solid $azzurro;
}
body a.freccia_dx:hover, body div.freccia_dx:hover {
  &:after {
    content:""; 
    width:43px;
    margin-left:20px;
    transition: all 0.5s ease;
    opacity:1;
  }
}

body a.freccia_sx:hover, body div.freccia_sx:hover {
  &:before {
    content:""; 
    width:43px;
    margin-right:20px;
    transition: all 0.5s ease;
    opacity:1;
  }
}


.rame {
  a.freccia_sx:hover, a.freccia_dx:hover, div.freccia_sx:hover, div.freccia_dx:hover {
    background:rgba($rame,1 );
    color: $bianco;
    border-top: 1px solid $rame;
    border-bottom: 1px solid $rame;
  }
}



body.restyle2020 a.freccia_sx, body.restyle2020 a.freccia_dx, body.restyle2020 div.freccia_sx, body.restyle2020 div.freccia_dx {
  @include trade;
  font-size: .75rem;
  line-height: 48px;
}


input.wpcf7-form-control.wpcf7-submit, input#wpsl-search-btn {
    @include trade; 
}