	
body .vc_column_container {
	@include mq($from: tablet){
		padding-top: 0;
		padding-bottom: 0;
	}
	
}

.vc_row.no-padding {
	@include mq($to: tablet){
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.vc_row .vc_column-gap-30 > div {
	@include mq($to: tablet){
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding: 0 !important;
	}
}

.homepage .vc_row.wk_fixrow {
	width: 90%;
}



/* BLOCCO PAOLAC */

.wk_bloccopaolac {
	width:100%;
}


.slider_bloccopaolac {
	width:100%;
	height:0;
	padding-bottom:50%;
	position:relative;
	margin-bottom:20px;
	overflow:hidden;

	@include mq($from:tablet){
		margin-bottom:50px;
	}

	ul.slides {
		position:absolute;
		height:100%;
		width:100%;

		li {
			width:100%;
			height:100%;
			z-index:inherit !important;

			.slideimg {
				width:100%;
				height:100%;
				background-size:cover;
				background-position:center center;
			}
		}
	}

	a.flex-prev {
		left:inherit;
	}

	a.flex-next {
		left:inherit;
		right:0px;
	}
}

.titolo_bloccopaolac {
	margin-bottom:20px;

	@include mq($from:tablet){
		float:left;
		padding-left:8.333%;
		width:58.333%;
		padding-right:0;
	}

	h2 {
		font-size:30px;
		@include mq($from:tablet){ font-size:36px;}
		@include mq($from:desktop){ font-size:45px;}
		@include mq($from:wide){ font-size:60px;}
	}
}

.contenuto_bloccopaolac {
	padding-bottom:20px;

	@include mq($from:tablet){
		float:left;
		width:41.667%;
		padding-right:8.333%;
		padding-bottom:40px;
	}
}


// TESTO A DESTRA

.wk_bloccopaolac.posizione_testodestra, .wk_bloccopaolac.posizione_testosinistra {
	
	@include mq($from:tablet){
		margin-bottom:40px;
		display:flex;
		align-items:center;
	}


	.slider_bloccopaolac {
		@include mq($from:tablet){
			width:60.83%;
			padding-bottom:40.54%;
			margin-bottom:0;
		}
	}


	.testo_bloccopaolac {
		@include mq($from:tablet){
			width:39.17%;
		}
	}

	.titolo_bloccopaolac {
		@include mq($from:tablet){
			width:100%;
			padding-left:0;
			margin-left:-34px;
		}
	}

	.contenuto_bloccopaolac {
		@include mq($from:tablet){
			width:100%;
			padding-left:70px;
			padding-bottom:0;
		}
	}

	img {
		max-width:calc(100% - 49px);
	}
}


// TESTO A SINISTRA

.wk_bloccopaolac.posizione_testosinistra {
	
	@include mq($from:tablet){
		flex-direction:row-reverse;
	}

	.slider_bloccopaolac {
		@include mq($from:tablet){
			width:60.83%;
			padding-bottom:40.54%;
			margin-bottom:0;
		}
	}


	.testo_bloccopaolac {
		@include mq($from:tablet){
			width:39.17%;
		}
	}

	.titolo_bloccopaolac {
		@include mq($from:tablet){
			margin-left:0px;
		}
	}

	.contenuto_bloccopaolac {
		@include mq($from:tablet){
			padding-left:calc(8.333% + 70px);
			padding-right:30px;
		}
	}

}




/* STILE PRODOTTI EVIDENZA HOME ---  STILE PRODOTTI EVIDENZA HOME --- STILE PRODOTTI EVIDENZA HOME --- STILE PRODOTTI EVIDENZA HOME  */

.products_home {

	@include mq($from:tablet){
		margin-left:-15px;
		margin-right:-15px;
	}
}



/* BLOCCO SFONDO --- BLOCCO SFONDO --- BLOCCO SFONDO --- BLOCCO SFONDO --- BLOCCO SFONDO --- BLOCCO SFONDO  */

.wk_bloccosfondo {
	width:100%;
	padding:20px;
	background-size:cover;
	background-position:center center;
	color:$bianco;
	height:40vh;
	position: relative;

	@include mq($from:tablet){
		padding-bottom:38%;
		height:0;
	}

	h2 {
		color:$bianco;

		&.linea:before {
			border-bottom:1px solid $bianco;
		}
	}


	.content-bloccosfondo {
		position: absolute;
		top:50%;
		transform:translateY(-50%);
		@include mq($from:tablet){
			padding-left:30px;
		}
	}

	.testo_bloccosfondo {
		padding-left:calc(50px);
		font-weight:300;
		font-size:14px;
		@include mq($from:tablet){ 
			font-size:17px;
			padding-left:100px;
		}
		@include mq($from:desktop){ font-size:20px;}
		@include mq($from:wide){ font-size:20px;}
	}

	a.wkbutton {
		margin-left:calc(50px);
		border-top: 1px solid $bianco;
		border-bottom: 1px solid $bianco;
		@include trade;
		line-height: 34px;
		padding-top: 3px;
		font-size: .75rem;
		letter-spacing: .2em;
		color:$bianco;
	    margin-top: 50px;

		@include mq($from:tablet){
			margin-left: 100px;
		}
	}
}


a.wkbutton {
	display: inline-block;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	color: $nero;
	border: 0;
	border-top: 1px solid $nero;
	border-bottom: 1px solid $nero;
	background: none;
	padding-left:18px;
	padding-right:18px;
	margin-top:15px;
	@include transition();
	font-weight: bold;

	&:hover {
		color: $bianco;
		border-top: 1px solid $azzurro;
		border-bottom: 1px solid $azzurro;
		background: $azzurro;
	}
}





/* BLOCCO INSTAGRAM --- BLOCCO INSTAGRAM --- BLOCCO INSTAGRAM --- BLOCCO INSTAGRAM --- BLOCCO INSTAGRAM --- BLOCCO INSTAGRAM */

.contenitore-pagina-bottom.instagram .col-12 {
    padding: 15px 0;
}

.instagram-title {
	width:100%;
	text-align:center;
	color:$grigio;
	font-weight:300;
	letter-spacing:0.05em;

	@include mq($from: tablet){
		margin-bottom: 2em;
	}

	@include mq($from: desktop){
		margin-bottom: 3em;
	}
	

	h5 {
		letter-spacing:0.1em;	
		margin-bottom: 5px;
	}
}

.insta_link {
	//font-family: 'Italiana', serif;
	@include brewery;
	text-transform: uppercase;
	font-size:15px;
    line-height: 1em;
	@include mq($from:tablet){ font-size:18px;}
	@include mq($from:desktop){ font-size:22px;}
	@include mq($from:wide){ font-size:26px;}
}

.wk-instagram-row {
	//padding: 15px;

	a {
		margin:15px;
		background-size:cover;
		background-position:center center;
		height:0;
		width:calc(50% - 30px);
		padding-bottom:calc(50% - 30px);
		transform:translateY(0px);
		transition:all .7;

		@include mq($from:tablet){
			width:calc(25% - 30px);
			padding-bottom:calc(25% - 30px);
		}
	}
	a:nth-of-type(even){
		@include mq($from:tablet){
			margin-top:50px;
		}
	}

	a:hover {
		transform:translateY(-7px);
		transition:all .7;
	}
}



/* BLOCCO STORIE --- BLOCCO STORIE --- BLOCCO STORIE --- BLOCCO STORIE --- BLOCCO STORIE --- BLOCCO STORIE --- BLOCCO STORIE */


.wk_bloccopaolac.posizione_testodestra.wk_bloccostorie, .wk_bloccopaolac.posizione_testosinistra.wk_bloccostorie {
	margin-bottom:40px;

	@include mq($from:desktop){
		margin-bottom:100px;
	}

	.contenuto_bloccopaolac {
		margin-left:49px !important;

		@include mq($from:tablet){
			margin-left:0 !important;
		}
	}
}


.wk_bloccopaolac.posizione_testodestra.wk_bloccostorie {

	.logo_storia {

		@include mq($from:tablet){
			margin-left:73px !important;
		}
	}
}


h6.numerazione-storia {
	color: $nero;
	width: 100%;
	padding-left: 50px;
	position: relative;
	margin-bottom: 0px;
	font-size:14px;
	&:before {
	  content:'';
	  position: absolute;
	  border-bottom: 1px solid #b1bbc5;
	  width: 30px;
	  height: 1em;
	  top: -0.5em;
	  left: 0;
	}

	@include mq($from:tablet){ 
	  font-size:16px;
	  padding-left: 107px;
	  margin-bottom: 15px; 

	  &:before{
	    width:65px;
	  }

	}
}


.logo_storia {
	margin-left:49px !important;

	@include mq($from:tablet){
		margin-left:106px !important;
	}
}


.rientro_titolo {
	padding-left:49px !important;

	@include mq($from:tablet){
		padding-left:106px !important;
	}
}



.contenuto_bloccopaolac a.freccia_dx, .contenuto_bloccopaolac div.freccia_dx, .contenuto_bloccopaolac a.freccia_sx, .contenuto_bloccopaolac div.freccia_sx {
	display:inline-block;
	float:inherit;
	padding: 0 20px;
}




/* SLIDER --- SLIDER --- SLIDER --- SLIDER --- SLIDER --- SLIDER --- SLIDER --- SLIDER --- SLIDER --- SLIDER */

.webkolm-slider {
	position:relative;
	width:100%;
	height:0;
	padding-bottom:55%;
	overflow:hidden;

	ul.slides {
		position:absolute;
		width:100%;
		height:100%;

		li {
			width:100%;
			height:100%;
			background-size:cover;
			background-position:center center;
		}
	}


	a.flex-prev {
		cursor: url("../img/freccia_sx_nera.png"), auto;
		//background: $azzurro url("../img/freccia_sx_nera.png") center center no-repeat;
	}

	a.flex-next {
		cursor: url("../img/freccia_dx_nera.png"), auto;
		//background: $azzurro url("../img/freccia_dx_bianca.png") center center no-repeat;
	}
}


.webkolm-slider.wk_verticale {
	padding-bottom:116%;
}

.webkolm-slider.wk_quadrato {
	padding-bottom:100%;
}


/* CUSTOMIZE VisualComposer OUTPUT*/

body .vc_row {
	position: relative;

	/* FROM MAIN */
	margin: 0;
	//margin-bottom: 30px;
}

body .wpb_content_element {
	margin-bottom:0;
}


.vc_row.wk_fixrow {

	width: 100%;
	margin: 0 auto;
	margin-left: auto !important;
	margin-right: auto !important;

	@include mq($from:tablet){
	width: 90%;
	max-width: 1200px;
	}
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}


.vc_row.wk_expand {

	@include mq($from:tablet){
		margin-left: -10px;
		margin-right: -10px;
	}
	@include mq($from:desktop){
		margin-left: -20px;
		margin-right: -20px;
	}
	@include mq($from:wide){
		margin-left: -25px;
		margin-right: -25px;
	}
}

.wk_dxcolumn {
	@include mq($from:tablet){
		padding-left: 40px;
	}
	@include mq($from:desktop){
		padding-left: 50px;
	}
	@include mq($from:wide){
		padding-left: 60px;
	}
}

.wk_collassa {
    width: auto;
    float: left;
    width: 100%;
    @include mq($from:600px) {
    	width: 50%;
    }
    @include mq($from:wide) {
    	width: 25%;
    	margin-bottom: 0;
    }
}


/* SFONDO SKETCH */

.wk_sketch {
	position: absolute;
    z-index: -1;
    top: -25%;
    left: -42%;
    width: 53vw;
    max-width: none;
}


/* vertical alignment 

.wk_align_vertical {
	padding: 5vw;
	padding-top: 30px;
	padding-bottom: 40px;

	@include mq($from:tablet){
		transform: translateY(-40%);
		top: 50%;
		position: absolute;
	}
}

.wk_align_vertical.esteso {
	@include mq($from:tablet){
		transform: translateY(0%);
		top: 0;
		position: relative;
		padding-top: 150px;
	}
}

/* FULL HEIGHT IMAGE 

.wk-full-height-image {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-size: cover !important;
	position: relative;

	@include mq($from:tablet){
		height: 100%;
		padding-bottom: 0;
		position: absolute;
	}
}


/* C2A BUY ONLYNE 

.c2a-buy {
	display: block;
	width: 100%;
	/*padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-transform: uppercase;

	span.price {
		color: $nero;
		display: inline-block;
		text-align: left;
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
		border:1px solid $nero;
		border-radius: 3px;
		margin-bottom: 0.7em;
	}

	.link {
		display: inline-block;
	}

	a.open-overlay-buy {
		color: $rosso;
	}

	a, a:hover {
		cursor: pointer !important;
	}
}

.c2a-buy.wk-center { text-align: center;}
.c2a-buy.wk-right { text-align: right;}

.notouch .c2a-buy .link a { @include transition();}
.notouch .c2a-buy .link:hover a { opacity:0.1;}
.notouch .c2a-buy .link a:hover { opacity:1;}


/* TILES 

.notouch .wk-tile {
	width: 100%;
	cursor: pointer;
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	background: rgba(0,0,0,1);

	img {
		width: 100%;
		display: block;
		filter:blur(0px);
	}

	.content-tile {
		cursor: pointer;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		@include transition();
		color: $bianco;

		.pulsante {
			opacity:0;
			@include transition();

			&:before {
				width:100%;
				float: left;
				content: " ";
			}
		}

		h2 {
			@include transition();
		}

		.wrap-tile {
			width: 100%;
			top:50%;
			position: absolute;
			text-align: center;
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			-ms-transform:translateY(-50%);
			-o-transform:translateY(-50%);
			transform:translateY(-50%);
			@include transition();
		
		}
	}

}

.notouch .wk-tile:hover {
	

	img {
		-webkit-filter: blur(2px);
		filter: blur(2px);

	}

	.content-tile {
		background: rgba(0,0,0,0.74);

		.pulsante {
			opacity:1;
			margin-top: 15px;
		}

		h2 {
			color: $rosso;
		}
	}

	.wrap-tile {
		padding-bottom: 60px;
	}
}


.touch .wk-tile {
	width: 100%;
	cursor: pointer;
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	background: rgba(126,126,126,1);

	img {
		width: 100%;
		display: block;
		filter:blur(0px);
	}

	.content-tile {
		cursor: pointer;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background: rgba(0,0,0,0.30);
		color: $bianco;

		.pulsante {
			display:none;

			&:before {
				width:100%;
				float: left;
				content: " ";
			}
		}

		h2 {
			@include transition();
			color: $rosso;
		}

		.wrap-tile {
			width: 100%;
			top:50%;
			position: absolute;
			padding-bottom: 0px;
			text-align: center;
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			-ms-transform:translateY(-50%);
			-o-transform:translateY(-50%);
			transform:translateY(-50%);
			@include transition();
		
		}
	}

}


/* 100% SINGLE IMAGE */


.wk_full_width {
	width: 100%;

	img {
		width: 100% !important;
		height: auto !important;
	}
}


/* VIDEO VIMEO 

.wk_video_wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 56%;

	iframe {
		position: absolute;
	}
}

/* SOCIAL ADD ON 

.share_buttons {
	width: 100%;
	clear:both;
	margin-top: 30px;
	@include mq($from:desktop){ margin-top:50px;}

	h6 {
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 0.77em;
	}

	ul {
		display: block;
		padding: 0;
		padding-top: 7px;

		li {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-left: 10px;
			
			a {
				opacity: 1;
				color: $grigio;
			}

			a svg{
				width: 16px;
				height: 16px;
				cursor: pointer;

				path { 
					@include transition();
				}
			}

			a:hover {
				opacity: 0.3;
			}
		}
		li:first-child {
			margin-left: 0;
		}
	}
}

.social_share, .reseller_data {
	text-align: left;
}
.social_share.wk-center, .reseller_data.wk-center {
	text-align: center;
}
.social_share.wk-right, .reseller_data.wk-right {
	text-align: right;
}

/* RESELLER DATA 
.reseller_data a:hover { color: $rosso !important;}


/* wk_empty_background 

.wk_empty_background {
	min-height: 100vh;
	@include mq($from:tablet){
		min-height:none;
	}
}


/* MOBILE FIXES 

body .vc_row.vc_row-o-full-height {
	@include mq($to:tablet){
		min-height:0 !important;
		/* padding-top: 30px !important; */
		/* padding-bottom: 30px !important; 
	}
}

/*
body .wk_mobile_padding {
	@include mq($to:tablet){
		padding-top: 30px !important; 
		padding-bottom: 30px !important;
	}
}

/*
body .vc_row.vc_row-o-full-height > div {
	
	padding-bottom:30px;
	padding-top: 30px;
	
	@include mq($from:tablet){
		padding-top:inherit;
		padding-bottom: inherit;
	}
}


body .wk_frombtoimg {
	@include mq($to:tablet){
		display:block !important;
		background: none !important;
		min-height:0 !important;
	}
}
body .wk_frombtoimg.vc_row.vc_row-o-full-height  {
	@include mq($to:tablet){
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
}

body .wk_standard_mobile .wpb_wrapper {

	@include mq($to:tablet){
		color: $nero;
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		* { text-align: center !important;}
		p { color: $nero !important;}
		span { color: $nero !important;}
	}
}

*/

body .wk_spaziatore {
    height: 0px;

    @include mq($from: tablet){
    	height: 50px;
    }

    @include mq($from: desktop){
    	height: 77px;
    }
}




/****** TILE RIMANDO CON IMMAGINE ****/

.wk_tile_rimando {
    width: 100%;
    height: auto;
    position: relative;	

/*
    @include mq($from: tablet){
    	height: 0;
    	padding-top: 80%;
    }
*/

    .wk_tile_bg {
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include transition; 
        /*
        @include mq($from: tablet){ 
        	position: absolute;
        	padding-top: 0;
        	width: 80%;
        	height: 100%;
        	left: 20%;
        	top: 0;
        }
        */
    }

    .content-tile_rimando {
    	position: relative;
    	top: 10px;

    	@include mq($from: tablet){ 
    		top: 20px;
    		text-align: center;
    	}
    	/*
	    @include mq($from: tablet){ 
			position: absolute;
			top: unset;
	    	bottom: 0;
	    }
	    */
    }

    .content-tile_rimando h3 {
    	margin-bottom: 5px;
    }

    .content-tile_rimando a.wk_pulsante_tile {
    	@include trade;
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: .2em;
        line-height: 1em;

        &::after {
        	content: ">";
        	display: inline-block;
        	margin-left: 5px;
        	@include transition;
        }
    }

    .content-tile_rimando .wk_pulsante_tile:hover {
    	color: $nero;
    	&::after {
    		margin-left: 10px;
    		@include transition;
    	}
    }
}

.notouch .wk_tile_rimando:hover {
	.wk_tile_bg {
		transform: translateY(-10px);
		@include transition;
	}
}


// ALLINEAMENTO RIQUARDI HOMEPAGE
//#riquadro-1, #riquadro-2, #riquadro-3 
/*
#riquadro-1 .wk_tile_rimando, #riquadro-2 .wk_tile_rimando, #riquadro-3 .wk_tile_rimando {
	@include mq($from: wide){
		width: 106%;
		padding-top: 87%;
		transform: translateX(-20%);
	}
}

#riquadro-2 .wk_tile_rimando {
	@include mq($from: wide){
		transform: translateX(-13%);
	}
}

#riquadro-3 .wk_tile_rimando {
	@include mq($from: wide){
		transform: translateX(-6%);
	}
}

.notouch .wk_tile_rimando:hover .wk_tile_bg {
	transform: scale(1.05);
	@include transition; 
}
*/


/***	BLOCCO PAOLAC HOME 	***/

.homepage .wk_bloccopaolac .slider_bloccopaolac {
	width: 100%;
	padding-bottom: 100%;

	@include mq($from: tablet){
		width: 55.75%;
		padding-bottom: 54.075%;
	}
}

.homepage .wk_bloccopaolac .testo_bloccopaolac {
	width: 100%;

	@include mq($from: tablet){
		width: 44.12%;
	}
}

.homepage .wk_bloccopaolac.posizione_testodestra, .homepage .wk_bloccopaolac.posizione_testosinistra {
	.testo_bloccopaolac {
		margin-top: 20px;

		@include mq($from:tablet){
			margin-top: 0;
			width: 40%;
		}

		h2.linea {
		    padding-left: 70px;
		    font-size: 2rem;
		    @include mq($from:tablet){
		    	font-size: 2.5rem;
	    		padding-left: 103px;
	    	}

	    	@include mq($from:desktop){
	    		padding-left: 133px;
	    		font-size: 2.8rem;
	    	}

	    	&:before {
	    		width: 50px;

	    		@include mq($from:tablet){
	    			width: 70px;
	    		}

	    		@include mq($from:desktop){
	    			width: 100px;
	    		}
	    	}
	    }
	}

	.titolo_bloccopaolac {
		margin-bottom: 10px;
		@include mq($from:tablet){
			width:100%;
			padding-left:0;
			margin-left:-34px;
		}
	}

	.contenuto_bloccopaolac {
		@include mq($from:tablet){
			width:100%;
			padding: 0 0 0 70px;
		}

		@include mq($from:desktop){
			width:100%;
			padding: 0 0 0 100px;
		}
	}
}

.homepage .wk_bloccopaolac.posizione_testosinistra {
	.titolo_bloccopaolac {

		@include mq($from:tablet){
			margin-left: 34px;
			padding-right: 0;
		}

		h2.linea {
			@include mq($from:tablet){
		    	padding-right: 103px;
		    	text-align: right;
		    	padding-left: 0;

		    	&:before {
		    	    left: unset;
		    	    right: 0;
		        }
		    }

		    @include mq($from:desktop){
		    	padding-right: 133px;
		    }
	    }
	}

	.contenuto_bloccopaolac {
		@include mq($from:tablet){
			padding: 0 70px 0 0;
			text-align: right;
		}

		@include mq($from:desktop){
			padding: 0 100px 0 0;
		}	
	}
}




/****	PULSANTE	***/

body .wk_pulsante_container {

	& > a {
		margin-top: 0;
		padding: 1px 20px 0;	
	}

	&.align-center {
		text-align: center;
	}
	&.align-left {
		text-align: left;
	}
	&.align-right {
		text-align: right;
	}
}





/* BLOCCO PAOLAC NEWS */
body.homepage .wk_blocconews.wk_bloccopaolac {

	// slider
	&.posizione_testodestra .slider_bloccopaolac,
	&.posizione_testosinistra .slider_bloccopaolac {
		width: 100%;
	    padding-bottom: 122%;
	    margin-bottom: 30px;

	    @include mq($from: tablet){
	    	width: 45%;
	    	padding-bottom: 55%;
	    	margin-bottom: 0;
	    }
	}

	// blocco testo
	.testo_bloccopaolac {
		width: 100%;

		@include mq($from: tablet){
	    	width: 40%;
	    }
	}

	// logo
	&.posizione_testodestra .header_img_bloccopaolac {
		margin-bottom: 30px;

		@include mq($from: tablet){
			padding-left: 20%;
	    	padding-right: 10%;
	    }

    	img {
    		max-width: 100%;
    	}
	}

	&.posizione_testosinistra .header_img_bloccopaolac {
		margin-bottom: 30px;

		@include mq($from: tablet){
			padding-left: 10%;
	    	padding-right: 20%;
	    }

    	img {
    		max-width: 100%;
    	}
	}

	// titolo
	&.posizione_testodestra .titolo_bloccopaolac {
		margin-left: 0;
	}
	&.posizione_testodestra .titolo_bloccopaolac h2 {
		@include mq($from: tablet){
	    	padding-left: 25%;

		    &::before {
		    	width: 28% !important;
	    		left: -60px  !important;
		    }
		}
	}

	&.posizione_testosinistra .titolo_bloccopaolac h2 {
		@include mq($from: tablet){
		    padding-right: 25%;
		    padding-left: 0;
		    text-align: right;

		    &::before {
		    	width: 28% !important;
	    		right: -60px !important;
	    		left: unset !important;
		    }
		}
	}


	// testo
	&.posizione_testodestra .contenuto_bloccopaolac {
		@include mq($from: tablet){
			padding-left: 25%;
			padding-right: 10%;
			text-align: left;
		}
	}

	&.posizione_testosinistra .contenuto_bloccopaolac {
		@include mq($from: tablet){
			padding-left: 10%;
			padding-right: 25%;
			text-align: right;
		}
	}
}

