/* WOOCOMMERCE STILES */


a.select_shop {
	display: block;
	background-color: #fff;
	background-position: right bottom;
	background-repeat: no-repeat;
    overflow: auto;	
    cursor: pointer;
    @include transition();
    padding-top: 20%;
    padding-bottom: 20%;
    outline: 10px solid transparent !important;
    outline-offset: -10px;

    &:hover, &.attivo {
    	outline: 10px solid $azzurro !important;
    	outline-offset: -10px;
    	color: $nero;
    }

    &.select_edition:hover, &.select_edition.attivo {
    	outline: 10px solid $crema !important;
    	outline-offset: -10px;
    }


}


/* FILTRI */

.filter-wrapper {
	font-size: 10px;

	@include mq($from:tablet){
		font-size: 11px;
	}

	@include mq($from:desktop){
		font-size: 12px;
	}
}

.filter-selection {
	display: inline-block;
	width: calc(100% - 50px);
	border: 0 !important;
	text-transform: uppercase;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 30px;
	height:30px;
	line-height: 30px;
	background: url('../img/select-arrow.png');
	background-repeat: no-repeat;
	background-position: left center;

	@include mq($from:500px){ width: calc(33% - 50px);}
	@include mq($from:tablet){ width: 25%;}
	@include mq($from:desktop){ width: 12%;}
	@include mq($from:wide){ width: 9%;}
}

.filter-selection:focus {
	width: calc(100% - 50px);
	@include mq($from:500px){ width: calc(33% - 50px);}
	@include mq($from:tablet){ width: 25%;}
	@include mq($from:desktop){ width: 12%;}
	@include mq($from:wide){ width: 9%;}
}

/*
.category-selection{
	@include mq($from:wide){
		position: absolute;
		left: 33%;
	}
}
*/


#clear-filter {
	text-transform: uppercase;
	display: inline-block;
	padding-left: 25px;
	background: url('../img/x-filtri.jpg');
	background-repeat: no-repeat;
	background-position: 0px center;
	    background-size: auto 50%;
	cursor: pointer;
	margin-left: 20px;
	 margin-right: 40px;
	 @include transition();

	&:hover {
		color:$azzurro;
		background-position: 3px center;
	}
}


/* LOOP PRODOTTO */

.nuovi_prodotti, .products {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;

	img {
		width: 100%;
		height: auto;
	}

	.col-4 {
		//@include mq($to:450){ width:100%;}
		//@include mq($from:450){ width:50%;}
		width:50%;
		padding: 7px;
		@include mq($from:tablet){ 
			width:33.33%;
			padding: 15px;
		}

	}

	a { 
		display: block;
		color: $nero;
	}

	h4, span.prodotto_prezzo, span.prodotto_sottotitolo {
		padding-left: 20px;
		display: block;
		@include mq($from:desktop){ padding-left:20px;}
	}

	h4 {
		padding-top: 20px;
		text-transform: uppercase;
		font-size: 16px;
		@include mq($from:tablet){ font-size: 14px;}
		@include mq($from:desktop){ padding-top:28px; font-size: 18px;}
		@include mq($from:wide){ font-size: 20px;}
		@include transition();
	}

	a:hover h4 { color: $grigio;}
}

.prodotti_quadrati {
	align-items: flex-start;
}

.products {
	display: block;

	li {
		padding-bottom: 30px;
	}

	a .mask_outline{
		outline: 10px solid transparent !important;
		outline-offset: -10px;
		position:relative;
		@include transition();

		img { display: block;}
	}

	a:hover {

		.mask_outline{
			outline: 10px solid $azzurro !important;
			outline-offset: -10px;
		}

		h4.prodotto_titolo { color: $nero;}
	}

	a.editions:hover .mask_outline{
			outline: 10px solid $rame !important;
	}
}

.wrapper-singolo .products {

	a .mask_outline{
		outline: 7px solid transparent !important;
		outline-offset: -7px;
	}

	a:hover {

		.mask_outline{
			outline: 7px solid $azzurro !important;
			outline-offset: -7px;
		}
	}

	a.editions:hover .mask_outline{
			outline: 7px solid $rame !important;
	}
}

.products.products_home {
	display: flex;
}


.col-3.prodotto-correlato {
		width:50%;
		padding: 7px;
		@include mq($from:tablet){ 
			width:33.33%;
			padding: 15px;
		}
		@include mq($from:desktop) {
			width: 25%;
		}
}
.products.grid .col-3.prodotto-correlato:last-child, .products .col-3.prodotto-correlato:last-child {
	@include mq($from:tablet){
		display: none;
	}
	@include mq($from:desktop){
		display: block;
	}
}

h4.prodotto_titolo {
	padding-left: 20px;
	display: block;
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 16px;
	color: $nero;
	position:relative;
	@include mq($from:tablet){ font-size: 14px;}
	@include mq($from:desktop){ /*padding-top:28px; */ font-size: 18px; }
	@include mq($from:wide){ font-size: 20px;}
	@include transition();

	span.more_variations {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 16px;
		text-transform: initial;

		@include mq($from:tablet){
			top: 13px;
			    right: 3px;
			    font-size: 13px;
		}
		@include mq($from:desktop){
			top: 18px;
			right: 10px;
			font-size: 15px;
		}
		@include mq($from:wide){
			top: 20px;
			right: 20px;
			font-size: 16px;
		}
	}
}

.prodotto-correlato h4.prodotto_titolo span.more_variations {

	@include mq($from:desktop){
		top: 20px;
		right: 3px;
		font-size: 12px;
	}
	@include mq($from:wide){
		top: 20px;
		right: 10px;
		font-size: 16px;
	}

}

.wrapper-singolo .prodotto-correlato h4.prodotto_titolo span.more_variations {
	display:none !important;
}

.prodotto_sottotitolo { 
	color: $grigio;
	font-size: 12px;
	@include mq($from:tablet){ font-size: 11px;}
	@include mq($from:desktop){ font-size: 14px;}
	@include mq($from:wide){ font-size: 16px;}

	p { padding: 0 !important;}

}

.prodotto_prezzo {
	font-size: 11px;
	@include mq($from:tablet){ font-size: 12px;}
	@include mq($from:desktop){ font-size: 13px;}
	@include mq($from:wide){ font-size: 14px;}

	.woocommerce-Price-amount {
		font-size: 16px;
		@include mq($from:tablet){ font-size: 14px;}
		@include mq($from:desktop){ font-size: 18px;}
		@include mq($from:wide){ font-size: 20px;}
	}
}


.prodotto_mask {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	    position: relative;
}



/* SINGOLO PRODOTTO */

.dati-prodotto {

	@include mq($from: tablet){
		width: 50%;
	}

	@include mq($from: desktop){
		width: 33.33%;
	}

	h1.prodotto_titolo {
		@include brewery;
		font-size: 24px;
		margin-bottom: 0;
		padding-left: 0;
		@include mq($from:tablet){font-size:34px;}
		@include mq($from:desktop){font-size:38px;}
		@include mq($from:wide){font-size:46px;}
		&:before { display:none;}
	}

	span.prodotto_sottotitolo, span.amount {
		font-size: 12px;
		line-height: 1.4em;
		@include mq($from:tablet){font-size:14px;}
		@include mq($from:desktop){font-size:16px;}
		@include mq($from:wide){font-size:20px;}
	}

	h5 {
		text-transform: uppercase;
		color: $grigio;
		line-height: 1.5em;
		@include lato;
		font-size: 14px;
	}


	input {
		background: $bianco;
		border: 1px solid $grigiochiaro;
		padding-left: 15px;
		padding-right: 15px;
		height: 48px;
		line-height: 48px;
	}

	.quantita{
		text-transform: uppercase;
		display: block;
		float: left;
		padding-right: 20px;
		height: 48px;
		line-height: 48px;
		width: 140px;
		font-size: 0.9em;

	}

	.variations td.label {
		padding-right: 20px;
		height: 48px;
		line-height: 48px;
		font-size: 0.9em;
		text-transform: uppercase;
		display: block;
		width: 140px;
	}	

	.variations td.value {
		select {
			background: $bianco;
			border: 1px solid $grigiochiaro;
			padding-left: 15px;
			padding-right: 45px;
			background: url("../img/down.svg") no-repeat right 10px top 14px;
			background-size: 20px;
			height: 48px;
			line-height: 48px;
			border-radius: 0 !important;
			max-width: 51vw;
			-webkit-appearance: none !important;
		}

	}	

	table.variations {
	    margin-bottom: 0.5em;
	}

	.reset_variations { display: none !important;}

	.woocommerce-variation-description, .woocommerce-variation-price {
		width: 150px;
		float: left;
		height: 48px;
		line-height: 1em;

	}

	.woocommerce-variation-description { padding-top: 0.5em;}

	.woocommerce-variation.single_variation {
	    float: left;
	    padding-bottom: 0.5em;
	    padding-top: 0.5em;
	}

	.quantity input {
		text-align: left;
		width: 60px;
	}

	.quantity {
		position: relative;
		float: left;
	}

	.quantity  input.minus, .quantity input.plus {
		text-align: center !important;
		font-family: 'fontello' !important;
		border:0 !important;
		background: none !important;
		padding: 0 !important;
		position: absolute !important;
		right: 0 !important;
		bottom: 0 !important;
		width: 24px !important;
		height: 25px !important;
    	line-height: 0 !important;
    	font-size: 15px !important;
		cursor: pointer !important;
	}

	input.plus {
		top: 0 !important;
	}



	button[type="submit"]{
		display: block;
		height: 48px;
		line-height: 40px;
		text-align: center;
		text-transform: uppercase;
		color: $nero;
		border: 0;
		border-top: 1px solid $nero;
		border-bottom: 1px solid $nero;
		background: none;
		margin-top: 25px;
		margin-bottom: 25px;
		width: 100%;
		@include transition();
		font-weight: bold;
		@include trade;
		font-size: .8rem;
		letter-spacing: .1em;
		padding-top: 6px;

		&:hover {
			color: $bianco;
			border-top: 1px solid $azzurro;
			border-bottom: 1px solid $azzurro;
			background: $azzurro;
		}
	}
}



.rame .dati-prodotto {

	button[type="submit"]{

		&:hover {
			border-top: 1px solid $rame;
			border-bottom: 1px solid $rame;
			background: $rame;
		}
	}
}


.share_buttons {
	width: 100%;
	clear:both;
	text-align: center;
	margin-top: 30px;
	@include mq($from:desktop){ margin-top:50px;}

	h6 {
		color: $grigio;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	ul {

		display: block;
		display: -webkit-box;
		display: -moz-box;
		  display: -ms-flexbox;
		display: flex;
		flex-direction: row;
		-moz-box-direction: row;
		    -webkit-box-direction: row;
		    -webkit-flex-direction: row;
		    -ms-flexbox-direction: row;
		    -ms-flex-direction: row;
		    flex-direction: row;
		flex-wrap: nowrap;
		-moz-box-wrap: nowrap;
		    -webkit-box-wrap: nowrap;
		    -webkit-flex-wrap: nowrap;
		    -ms-flexbox-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
		padding-top: 7px;

		li {
			display: inline-block;
			display: -webkit-box;
			display: -moz-box;
			  display: -ms-flexbox;
			display: flex;
			width: 20px;
			height: 20px;
			
			a svg{
				width: 20px;
				height: 20px;

				* { 
					fill:$grigio;
					@include transition();
				}
			}

			a:hover svg *{ fill:$nero;}
		}
	}
}

.share_buttons {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    .share_title {
        display: block;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 5px;
    }
}

.share_buttons ul {
    padding-top: 0;
    @include transition;
}

.share_buttons ul li {
	margin: 10px 15px;
    height: 20px;
}

.share_buttons ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

.notouch .share_buttons ul {
	opacity: 0;
	@include transition;
}

.notouch .share_buttons:hover ul {
	opacity: 1;
	@include transition;
}




.breadcrumb-shop {
	display: block;
	font-size: 10px;

	li { 
		display: inline-block;
		float: left;
		text-transform: uppercase;
		padding-right: 22px;
		position: relative;
		color: $nero;

		a { color: $nero;}
		a:hover { color: $grigio;}

		&:after {
			content: " > ";
			position:absolute;
			right: 10px;
		}
	}

	li:last-child {
		&:after {
			display:none;
		}
	}

	@include mq($from:tablet){font-size:11px;}
	@include mq($from:tablet){font-desktop:12px;}


}


.sfondo_editions {
	width: 100%;
	height: auto;
	overflow: visible;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
}



/* ELEMENTI WOOCOMMERCE */

.woocommerce table.cart {
	.quantity input {
		background: $bianco !important;
		border: 1px solid $grigiochiaro !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
		height: 48px !important;
		line-height: 48px !important;
	}


		.quantity input {
			text-align: left;
			width: 60px !important;
		}

		.quantity input.minus, .quantity input.plus {
			font-family: 'fontello' !important;
			border:0 !important;
			background: none !important;
			padding: 0 !important;
			position: absolute !important;
			right: 0 !important;
			bottom: 0 !important;
			width: 24px !important;
			height: 25px !important;
			text-align: center !important;
	    	line-height: 0 !important;
	    	font-size: 15px !important;
			cursor: pointer !important;
		}

		.quantity input.plus {
			top: 0 !important;
		}


		.quantity {
			position: relative;
			float: left;
			padding: 0 !important;
		}

}

.woocommerce table.shop_table th {
    padding-left: 0px !important;
}

.woocommerce table.shop_table {
	border: 0 !important;
}

.woocommerce table.shop_table td {
	border-top:1px solid $grigiochiaro !important;
}

.woocommerce table.shop_table td {
	padding: 6px 12px;
	@include mq($from:tablet){
		padding:0 !important;
	} 
}

.woocommerce table.shop_table th {
	color: $grigiochiaro;
	font-size: 0.9em;
	text-transform: uppercase;
}

.woocommerce table.shop_table .cart-subtotal th {
	color: $grigio;
}

.woocommerce table.shop_table .order-total th {
	color: $nero;
}


.woocommerce table.shop_table tr.order-total td {
	border-top: 1px solid $grigiochiaro;
	text-align: right;
}

.woocommerce table.shop_table tr.cart-subtotal td {
	border-top: 0 !important;
	text-align: right;
}

.woocommerce table.shop_table td.product-thumbnail {
	padding: 20px !important;
}

.woocommerce table.cart img {
	width: 50%;
}

body .woocommerce input.button, 
body .woocommerce a.button, 
body a.button.wc-forward,
body .woocommerce-form-coupon button {
	display: inline-block;
	height: 48px;
	    line-height: 48px !important;
	font-size: 12px;
	letter-spacing: 0.48px; 
	text-align: center;
	text-transform: uppercase;
	color: $nero;
	border: 0 !important;
	border-radius: 0 !important;
	border-top: 1px solid $nero !important;
	border-bottom: 1px solid $nero !important;
	margin-top: 25px !important;
	margin-bottom: 25px !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
	    padding-top: 0 !important;
    padding-bottom: 0 !important;
	@include transition();
	font-weight: normal !important;
    width: auto !important;
    background: none !important;
    @include trade;
    font-size: 12px;
    padding-top: 1px;

	&:hover {
		color: $bianco !important;
		border-top: 1px solid $azzurro !important;
		border-bottom: 1px solid $azzurro !important;
		background: $azzurro !important;
	}
}

input#coupon_code {
	display: inline-block;
	height: 48px;
	    line-height: 48px !important;
	font-size: 12px; 
	text-transform: lowercase !important;
	color: $nero;
	border-radius: 0 !important;
	border-top: 1px solid $nero !important;
	margin-top: 26px !important;
	margin-bottom: 25px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	    padding-top: 0 !important;
    padding-bottom: 0 !important;
	font-weight: normal !important;
    width: auto !important;
    background: none !important;
    font-size: 12px;
    padding-top: 1px;
}

a.button.wc-forward {
	clear: both !important;
	    width: 250px !important;
	    display: block !important;
	line-height: 48px !important;
}

.woocommerce a.button {
	line-height: 8px !important;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td {
	background: none !important;
}


.woocommerce a.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background: none !important;
	color: $nero !important;

	&:hover {
		color:$bianco !important;
		background: $azzurro !important;
	}
}


/*
body .woocommerce a.remove {
    color: $rame !important;

    &:hover {
    	background:$rame !important;
    	color: $bianco !important;
    }
}
*/


/* CHECKOUT */

form.woocommerce-checkout {

	input, select {
		border:1px solid $grigiochiaro !important;
		padding: 10px !important;
	}

	textarea {
		border:1px solid $grigiochiaro !important;
		padding: 10px !important;
	}

	.col-1, .col-2 {
		padding: 0;
	}

}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table td, .woocommerce table.shop_table.order_details td {
	padding: 9px 12px !important;
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr.cart-subtotal td {
	border-top: 1px solid $grigiochiaro !important;
	text-align: right;
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table td.product-total, .woocommerce table.shop_table th.product-total {
	text-align: right;
}

/* REVIEW */

.woocommerce table.shop_table.order_details tfoot th, .woocommerce table.shop_table.customer_details tbody th {
	color: $grigio;
}

.woocommerce table.shop_table.customer_details tbody:first-child tr:first-child th {
	border-top: 1px solid $grigiochiaro;
}


body .woocommerce .checkout-button.button.alt.wc-forward {
	float: right;
}

/* AZZERO NUMERINI NEGLI INPUT QUANTITY */

select {
	-webkit-appearance: none !important;
	  -moz-appearance: none !important;
	  appearance: none !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}


/* STILE DATI BANCARI CHECKOUT */

.woocommerce h2.wc-bacs-bank-details-heading {
	margin-top: 1em;
	padding-bottom: 0.5em;

	& + h3 {
		&:before {
		  display:none;
		}
		padding-left:0;
		@include lato();
		padding-bottom: 0;
		margin: 0;
		margin-bottom: 0.5em;
		margin-top: 1em;
		font-size: 1.3em;
	}
}


/* CHECKBOX SHIP OTHER ADDRESS */

#ship-to-different-address-checkbox {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	border: 1px solid $nero !important;
	margin-left: 20px;
}


/* TAB PRODOTTO */

.list_tab_prodotto {
	width: 100%;
	float: left;

	li {
		display: inline-block;
		float: left;
		margin-left: 40px;

		h5 { 
			opacity: 0.5;
			cursor: pointer;
		}
	}
	li h5.attivo, li h5:hover { opacity:1;}

	li:first-child {
		margin-left: 0;
	}
}

.tab_prodotto { 
	display: none;
	padding-top: 2em;
}

/* COLORE MESSAGGI */
body .woocommerce-message {
	border-top-color: $azzurro;
}

body .woocommerce-message:before {
    color: $azzurro;
}


/* THUMB CARRELLO */

body .woocommerce table.cart .product-thumbnail {
	@include mq($to:tablet){
		display:block !important;
		text-align: center !important;

		&:before{
			display:none;
		}
	}
}

.wk_product_item p {
	padding: 0 !important;
}



/* PREZZO CAMBIA SOLO SOPRA -> NASCONDO DESCRIIZONI VARIAZIONE */

.single_variation {
	display: none !important;
}


/* PAGINA CARRELLO */

body .woocommerce .cart-collaterals .cart_totals{
	width: 100%;
	float: left;
}

body .woocommerce ul#shipping_method li label {
    display: block;
    /* float: right; */
    position: absolute;
    right: 40px;
    top: 5px;
}

body .woocommerce ul#shipping_method li {
    position: relative;
    min-height: 40px;
}

body .woocommerce ul#shipping_method {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* FEBBRAIO 2018  FLAG NEW*/

.new_flag {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 1em;
	display: block;
	height: 10px;
	padding: 0;
	line-height: 10px;

	@include mq($from:tablet){
		top:20px;
		right:20px;
	}
}

.wrapper-singolo .new_flag{

	top: 10px;
	right: 10px;
	font-size: 0.8em;
}

.offerta-esclusiva_flag {
	position: absolute;
	top: 13px;
	right: 15px;
	left: 15px;
	font-size: 1em;
	display: block;
	padding: 0;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: right;

	@include mq($from:tablet){
		right: 20px;
	}
}

.mask_outline > span:nth-child(3) {
	top: 40px;

	@include mq($to:tablet){
		top: 35px;
	}
}

.wrapper-singolo .offerta-esclusiva_flag {

	bottom: 10px;
	right: 10px;
	font-size: 0.8em;
}


/* COUPON IN CHECKOUT */

.woocommerce-info {
	border-top-color: transparent !important;
}

.woocommerce-info::before {
	color: $crema !important;
}
