@charset "UTF-8";


@import "compass";
@import "compass/reset";


/* 
Designed by Marco Tonet for PaolaC
*/
@import "normalize";

@import "mq";
@import "colors";
@import "text";
@import "mixin";
@import "mediavisibility";

/* CSS ESTERNI */
@import "flexslider";



/* VARIABILI */

$mobile-nav-width: 100vw; // Set the width of the mobile menu
$animation-time: 400ms; // Set the animation speed
$animation-function: ease;


@import "header";
@import "main";


	
/* CSS ESTERNI */

@import "home";
@import "slider";
@import "pagine";
@import "singolo";
@import "form";
@import "footer";
@import "woocommerce";
@import "blueimpgallery";
@import "visualcomposr";
@import "animatemodules";


